.largeInput {
    font-size:1.2em;
    padding:10px;
    width:90%;
    margin-left:auto;
    margin-right:auto;

}
.deleteThreadButton {
    display:inline-block;
    float:right;
    padding:8px;
    font-size:.4;
    background-color: #bbbbbb;
    color:white;
    cursor: pointer;
    border-right:1px solid #999999;
    border-top:1px solid #aaaaaa;
    transition: .5s;
    border-radius:0 0 0 4px;
}

.deleteThreadButton:hover {
    background-color:#aaaaaa;
}
.fancyPostButton {
    background-color:#ce00bd;
    color:white;
    outline: none;
}

.fancyPostButton:hover {
    background-color:#a00095;
}
.fancyPostButton:active {
    background-color:#e85bf5;
}

.fancyPostButton:focus {
    background-color:#bc00d4;
}

.threadContainer {
    padding:0;
    box-sizing: border-box;
}

