.largeInput {
    font-size:1.2em;
    padding:10px;
    min-width:80%;
}
.deleteThreadButton {
    display:inline-block;
    float:right;
    padding:8px;
    font-size:.5;
    background-color:#383e72;
    color:white;
    cursor: pointer;
}
.fancyPostButton {
    background-color:#ce00bd;
    color:white;
    outline: none;
}

.fancyPostButton:hover {
    background-color:#a00095;
}
.fancyPostButton:active {
    background-color:#e85bf5;
}

.fancyPostButton:focus {
    background-color:#bc00d4;
}

.threadContainer {
    padding:0;
    box-sizing: border-box;
}

