<p>Discussion for ClassID: {{thisClass.id}}, section# {{ sectionNumber }}</p>
<div class='group '>
        
        <!-- <button [routerLink]="['/classes', thisClass.id ]" class='backButton'>Back to Course Material</button>
         -->
        <div *ngIf='thisClass'>
                <form [formGroup]='discussionFormGroup' (ngSubmit)='newThread()'>
                <table width='100%' class='showTable'>
                   <tr>
                <td width='90%'><input formControlName='subject' id='subject' 
                        autofocus name='subject' type='text' class='largeInput'></td>
                <td>
                <button type='submit' class='newTopicButton'>Post</button></td>
                </tr>
                </table>
        </form>

        <br clear='all'><br>

        <div *ngIf='threads'>
                <div *ngFor='let thread of threads' class='threadContainer group'>
                        <div *ngIf="currentUser.id === thread.user_id" 
                        class='deleteThreadButton' (click)="deleteThread(thread)"></div>
                       <thread [thread]=thread (threadChange)="threadChange($event)" (threadKill)="threadKill($event)"></thread>
                </div>
        </div>
</div>        
</div>

<div class='debug'>
        {{ discussionFormGroup.value | json }}
</div>