.largeInput {
    font-size:1.2em;
    padding:10px;
    width:94%;
    border-radius:6px;
    border:2px solid white;
    box-shadow: 0 0 19px rgba(0,0,0,.15);
}
table {
    background-color:rgba(0,0,0,0);
}
.deleteThreadButton {
    background-color:#555555;
    color:white;
    float:right;
    margin-right:20px;
    display:inline-block;
    padding-top:6px;
    padding-bottom:6px;
    padding-left:14px;
    padding-right:14px;
    font-size:1em;
    margin-bottom:8px;
    outline:none;
    cursor: pointer;
    user-select: none;
    text-transform: uppercase;
    border-radius:5px;
    font-size:.9em;
    opacity:.8;
    letter-spacing:.05em;
    border:2px solid rgba(0,0,0,0);
    margin:10px;
}


.deleteThreadButton:active {
    background-color:#ff1d1d;
    color:white;
    border:2px solid #960039;
}
.fancyPostButton {
    background-color:#ce00bd;
    color:white;
    outline: none;
}

.fancyPostButton:hover {
    background-color:#a00095;
}
.fancyPostButton:active {
    background-color:#e85bf5;
}

.fancyPostButton:focus {
    background-color:#bc00d4;
}

.threadContainer {
    padding:0;
    box-sizing: border-box;
    border-radius: 4px;
    border:1px dashed #888888;
    /* border:1px solid red; */
}

.newTopicButton {
    background-color:#555555;
    color:white;
    float:right;
    margin-right:20px;
    display:inline-block;
    padding-top:6px;
    padding-bottom:6px;
    padding-left:14px;
    padding-right:14px;
    font-size:1em;
    margin-bottom:8px;
    outline:none;
    cursor: pointer;
    user-select: none;
    text-transform: uppercase;
    border-radius:4px;
    box-shadow:2px 2px 4px rgba(0,0,0,.4);
}
.newTopicButton:hover {
    background-color:#eeeeee;
    color:black;
    border:1px solid #555555;
}

.discussionFramer {
    background-color: rgba(255,255,255,.5);
    border-radius: 6px;
    box-shadow:0 0 20px rgba(0,0,0,.25);
    padding-top:40px;
    padding-bottom:30px;
    margin-top:0;
}