<div class='messageContainer' *ngIf='display && currentMessage && currentUser && currentUserID'>
    <div class='toolbar'>
        <div class='chatThumb' *ngIf='thumbnail'>
            <user-thumb [thumbnail]='thumbnail'></user-thumb></div>
            <div class='nameTag'>
            <p class='chatwith'>Chatting with:   ( # {{ currentMessage.id }} )</p>
        <p class='name'> {{toUser.username }}</p></div>
        <div class='smallCloser' (click)='closeMsgr()'></div>
    </div>

    <div *ngIf='currentMessage' class='bubleContainer scrollable section' id="v-scrollable" 
    scrollable (click)='scrollMe()'>

        <div class='msgReplies' *ngFor='let reply of currentMessage.msgList'>
            <div class='bubbleLine' *ngIf='reply.user_id === currentUserID' >
            <div class='bubble speaker'>{{ reply.message }}</div><br clear='all'>
            <div class='speaker_tail'></div></div>
            <div class='bubbleLine' *ngIf='reply.user_id !== currentUserID'>
            <div class='bubble other'>{{ reply.message }}</div><br clear='all'>
            <div class='bubble other_tail'></div></div>
        </div>

        <div id='s3'></div>
    </div>

    <div class='footer'>
        <form [formGroup]="msgForm"  (keydown)="keyDownFunction($event)">
                <input id="msg"  placeholder="your message..." formControlName="msg" class='msgInput' (click)="scrollMe()">
                <div class='replyButton' (click)='sendMsg()'></div>
        </form>
    </div>
</div>

