.thread {
    /* border:1px solid orange; */
    padding:0px;
    margin:0px;
    padding-bottom:0;
}

.reply {
    background-color:#999999;
    color:white;
    float:right;
    margin-right:20px;
    display:inline-block;
    padding-top:6px;
    padding-bottom:6px;
    padding-left:14px;
    padding-right:14px;
    font-size:.9em;
    margin-bottom:8px;
    outline:none;
    cursor: pointer;
    user-select: none;
    text-transform: uppercase;
    border-radius:4px;
    font-family: 'Muli';
  
}
.reply:hover {
    background-color:#555555;

}

.userIdentifier {
    display:inline-block;
    padding-right:8px;
    /* border:1px solid red; */
    text-align: center;
    position: relative;
    top:4px;
    left:6px;
}

.replyIdentifier {
    display:inline-block;
    float:left;
    padding-right:8px;
    padding-left:8px;
    /* border:1px solid cyan; */
    width:62px;

}
.replyInput {
    width:90%;
    font-size:1.2em;
    padding:10px;
    margin-left:auto;
    margin-right:auto;
}

.threadReplies {
    margin-bottom:8px;
    padding-left:30px;
    padding-top:0;
}

.threadReply {
    text-align: left;
    margin-bottom:2px;
    padding:0px;
}

.threadReply p {
    padding:2px;
    line-height:1.5em;
    padding-left:10px;
    margin-left:10px;
    font-family: 'Muli';
    color:#555555;
    font-size:.9em;
}

.tinyButton {
    padding:3px;
    font-size:.8em;
    display:inline-block;
    float:right;
}

.threadSubject {
    padding:4px;
    margin:0;
    cursor:pointer;
    transition: .5s;
    border-radius:4px;
    text-align: left;
    /* border:1px solid blue; */
    border:2px solid rgba(0,0,0,0);
    background-position: 4px 14px;
}

.threadSubject:hover {
    background-color:rgba(255,255,255,.75);
}

.threadSubject:active {
    border:2px solid white;
}

.threadSubjectCollapseable:active {
    background-image:url('../../assets/images/uparrow.svg');
    background-repeat: no-repeat;
    background-position: 4px 14px;
    background-size:20px 20px;
}
.threadSubjectExpandable:hover {
    background-image:url('../../assets/images/downarrow.svg');
    background-repeat: no-repeat;
    background-position: 4px 14px;
    background-size:20px 20px;
}
.subject {
    font-size:.9em;
    font-family: 'Muli';
    /* border:1px solid green; */
    display:inline-block;
    vertical-align: top;
    width:72%;
    padding-left:0px;
    line-height:1.6em;
    color:#333333;
}


.postReplyBlock {
    float:right;
}

.dateString {
    color:#555555;
    padding:0px;
    font-size:.7em;
    font-family: "Arial";
    text-transform: uppercase;
}

.tinyDelete {
    background-color:#555555;
    color:white;
    float:right;
    margin-right:20px;
    display:inline-block;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:12px;
    padding-right:12px;
    margin-bottom:8px;
    outline:none;
    cursor: pointer;
    user-select: none;
    text-transform: uppercase;
    border-radius:5px;
    font-size:.8em;
    opacity:.8;
    letter-spacing:.05em;
    border:2px solid rgba(0,0,0,0);
    margin:10px;

}

.tinyEdit {
    background-color:#999999;
    width:60px;
    height:26px;
    float:right;
    border-radius:4px;
    font-size:.8em;
    padding:0;
    vertical-align: top;
    outline:none;
    cursor: pointer;
    user-select: none;
    margin-right:4px;
    margin-left:4px;
    font-family: 'Muli';
    text-transform: uppercase;
    color:white;
}