.thread {
    border-bottom:1px solid #aaaaaa;
    padding:0px;
    padding-left:8px;
    margin:0px;
    padding-bottom:0;
    background-color:rgba(255,255,255,.2);
}

.reply {
    background-color:#555555;
    color:white;
    float:right;
    margin-right:20px;
    display:inline-block;
    padding-top:6px;
    padding-bottom:6px;
    padding-left:14px;
    padding-right:14px;
    font-size:1em;
    margin-bottom:8px;
    border:1px solid #333333;
    border-bottom:1px solid black;
    outline:none;
    cursor: pointer;
    user-select: none;
    text-transform: uppercase;
    border-radius:2px;
    box-shadow:2px 2px 4px rgba(0,0,0,.4);
}
.reply:hover {
    background-color:#eeeeee;
    color:black;
    border:1px solid #555555;
}

.replyInput {
    width:90%;
    font-size:1.2em;
    padding:10px;
    margin-left:auto;
    margin-right:auto;
}

.threadReplies {
    border-bottom:2px solid rgba(0,0,0,.2);
    margin-bottom:8px;
    padding-left:30px;
    padding-top:0;
}

.threadReply {
    border-top:1px dashed rgba(0,0,0,.2);
    margin-bottom:2px;
    padding:0px;
}

.threadReply p {
    padding:2px;
    line-height:1.5em;
    padding-left:10px;
    margin-left:10px;
}

.tinyButton {
    padding:3px;
    font-size:.8em;
    display:inline-block;
    float:right;
}

.threadSubject {
    background-color:rgba(255,255,255,.25);
    padding-left:10px;
    cursor:pointer;
    transition: .5s;
    font-size:.9em;
    font-family: Arial;
}

.threadSubject:hover {
    background-color:rgba(255,255,255,.75);
}

.threadSubject:active {
    border:2px solid white;
}

.subject {
    font-size:1.4em;
}


.postReplyBlock {
    float:right;
}

.dateString {
    color:#555555;
    padding:4px;
    font-size:1.2em;
}

.tinyDelete {
    width:26px;
    height:26px;
    background-image:url('../../assets/images/kill.svg');
    background-color:#777777;
    float:right;
    border-radius:0;

}

.tinyEdit {
    background-color:#777777;
    width:60px;
    height:26px;
    float:right;
    border-radius:0;
    font-size:.8em;
    padding:0;
    vertical-align: top;
    outline:none;
    cursor: pointer;
    user-select: none;
    margin-right:4px;
    margin-left:4px;
}