.adminForm {
    width:100%;
    margin-left:auto;
    margin-right:auto;
    background-color:#bbbbbb;
}

.notice {
    padding:8px;
    border:1px solid rgba(0,0,0,.2);
    margin:20px;
}
h1 {
    font-weight: 700;
    font-size:1em;
}

.main {
   background-color:#aaaaaa;
   padding-top:100px;
   margin-left:auto;
   margin-right:auto;
   max-width:1100px;
   padding-bottom:400px;
}


.note {
    padding:4px;
}

.note p {
    font-family: 'Muli';
    font-size:.9em;
    font-style: italic;
    padding-left:10px;
}

.userKill {
    display:inline-block;
    float:right;
    width:26px;
    height:26px;
    background-image:url(../../../assets/images/kill_hi.svg);
    background-color:#aaaaaa;
    margin:0;
  }
  
  .collection {
      background-color:rgba(255,255,255,.5);
      padding:0;
      width:100%;
      margin-top:20px;
  }

  .collection h1 {
      user-select: none;
  }

  .collapsingTitle {
      font-family: 'Roboto';
      font-weight: 700;
      font-size:1.45em;
      border-bottom:1px solid rgba(0,0,0,.5);
      padding:10px;
      padding-left:20px;
      padding-top:20px;
      margin:0;
      cursor: pointer;
  }

  .collapsingTitle:hover {
      background-color:rgba(255,255,255,1);
  }

  .showing {

    max-height:1200px;
    transition: max-height 1s ease-out;
    overflow: hidden;
  }

  .hiding {
    transition: max-height .5s;
    max-height:50px;
    overflow: hidden;
  }
  .alignTop {
      position: relative;
      top:-48px;
      right:4px;
  }
  .doubleColumn {
      column-count: 2;
      border:1px solid rgba(0,0,0,0);
      padding:0;
      margin:0;
      min-width:500px;
  }

  .collectionList {
      border:1px solid rgba(0,0,0,0);
      padding:0px;
      margin-top:10px;
      user-select: none;
      cursor:pointer;
  }
  .collectionItem {
      border:1px solid rgba(0,0,0,0);
      padding:0;
      margin:0;
      padding-left:20px;
  }

  .collectionItem:hover {
      background-color: white;
  }
  .collectionItem h1 {
      font-family: 'Roboto';

      font-weight:400;
      font-size:1.2em;
  }

  .collectionItem p {
      font-family: 'Roboto';
      font-size:.9em;
  }

  @media screen and (max-width: 940px) {
    .doubleColumn {
       column-count:1;
        }
    }  