

<nav-bar></nav-bar>   

<div class='loomContainer group'>
    <div class='loomCard'>
      <!-- <div class='closer'
        (click)="closer()"></div> -->
  <br clear='all'>
      <nav>       
      <a routerLink="classes" routerLinkActive="selected">Classes &amp; Coursework</a>
      <a routerLink="students" routerLinkActive="selected">Students</a>
      <!-- <a routerLink="enrollments" routerLinkActive="selected">Enrollments</a> -->
      <a routerLink="instructors" routerLinkActive="selected">Instructors</a>
      <!-- <a routerLink="assignments" routerLinkActive="selected">Assignments</a> -->

      <a routerLink="materials" routerLinkActive="selected">Materials</a>
      </nav>
      <main>
          <router-outlet></router-outlet> 
      </main>
    </div>
</div>