<div class='adminContainer main'>

<div class='collection group {{ studentsShowing }}'>

    <button *ngIf="users" [routerLink]="['/register']" 
    class='loomRoundButton loomAdd rightAlignMe alignTop'></button> 
    
    <h1 (click)="toggleStudents()" class='collapsingTitle'>All The Peeps</h1>

      <div *ngIf="users" class='doubleColumn'>

      <div *ngFor='let user of userThumbnails' class='userLine' 
       [routerLink]="['/usersettings/' + user.user_id + '/edit']">
        <div class='thumbnailAdmin'>
          <user-thumb [thumbnail]=user ></user-thumb> </div>
          <div class='userInfo'>
              <h1>{{ user.user.username }}</h1>
            {{ user.user.firstname }} &nbsp; {{ user.user.lastname }}<br>
            {{ user.user.email }}
          </div>
            
              <div class='remover' 
              (click)="deleteUser(user.user.username, user.user_id)">Delete</div>
              <div class='suspender'>Suspend</div>
              
        </div>
  </div>

</div>

<div class='collection group {{ instructorsShowing }}'>
    <h1 (click)="toggleInstructors()" class='collapsingTitle'>Instructors</h1>
    <div *ngIf='instructorThumbnails' class='collectionList'>
      <div *ngFor='let user of instructorThumbnails' class='userLine'>
        <div class='thumbnailAdmin'>
            <user-thumb [thumbnail]=user ></user-thumb> </div>
            <div class='userInfo'>
                <h1>{{ user.user.username }}</h1>
              {{ user.user.firstname }} &nbsp; {{ user.user.lastname }}<br>
              {{ user.user.email }}
            </div>
    </div>
    <div class='userLine note'><p>Note: Instructor
      assigments are added or removed within each Class</p></div>
</div></div>

<div class='collection group {{ classesShowing }}'>
    <h1 (click)="toggleClasses()" class='collapsingTitle'>Classes</h1>
      <button *ngIf="classes" [routerLink]="['/classes', '0', 'edit']" class='loomRoundButton loomAdd rightAlignMe'></button>  
      
        <div class="collectionList" *ngIf="classes">
         
        <div *ngFor="let class of classes" [routerLink]="['/classes', 
        class.id, 'edit']" class='collectionItem'>
              <button class='loomRoundButton loomKill rightAlignMe' 
              (click)="deleteClass(class.id)"></button>
          <h1>{{class.title}}</h1>
          <p>{{class.course}}</p>
          <p>Start Date: {{class.start | date: 'yMMMd'}}</p> <!-- jms -->
          <p>End Date: {{class.end | date: 'yMMMd'}}</p>
        </div>
      </div>
  
    <div class="notice" *ngIf="!classes">Currently having trouble accessing the API for class info.</div>
  
</div>

<!-- 
    <div class='collection group {{ coursesShowing }}'>
        <h1 (click)="toggleCourses()" class='collapsingTitle'>Courses</h1>
        <button *ngIf="courses" [routerLink]="['/courses', '0', 'edit']" 
          class='loomRoundButton loomAdd rightAlignMe'></button>
            <div class="collectionList" *ngIf="courses">
            <div *ngFor="let course of courses" class='collectionItem'
             [routerLink]="['/courses', course.id, 'edit']"> 

              <h1>{{course.title}}</h1>
              <p>{{course.description}}</p>
                 
            </div>
          </div>
      <div class="notice" *ngIf="!courses">Currently 
        having trouble accessing the API for course info.</div>
</div>

-->

<div class='collection group {{ materialsShowing }}'>
    <h1 (click)="toggleMaterials()" class='collapsingTitle'>Materials</h1>
    <button [routerLink]="['/materials', '0', 'edit']" class='loomRoundButton loomAdd rightAlignMe'></button>  

    <div class='collectionList' *ngIf='materials'>
      <div *ngFor='let material of materials' class='collectionItem' 
      [routerLink]="['/materials', material.id, 'edit']">
          <button class='loomRoundButton loomKill rightAlignMe' 
          (click)="deleteMaterial(material.id)"></button>
          <h1>{{ material.title }}</h1>
          <p>{{ material.description }} </p>
      </div>
    </div>
</div>

<!--
<div class='collection group {{ booksShowing }}'>
    <h1 (click)="toggleBooks()" class='collapsingTitle'>Books</h1>
    <button [routerLink]="['/books', '0', 'edit']" class='loomRoundButton loomAdd rightAlignMe'></button>  

    <div class='collectionList' *ngIf='books'>
      <div *ngFor='let book of books' class='collectionItem' 
      [routerLink]="['/books', book.id, 'edit']">
          <button class='loomRoundButton loomKill rightAlignMe' 
          (click)="deleteBook(book.id)"></button>
          <h1>{{ book.title }}</h1>
          <p>{{ book.description }} </p>
      </div>
    </div>
</div>
 -->

<br>

</div>
