

<!-- <div *ngIf='classArray'>
    <div class='titlebar'>Classes</div>
   <div class='listItem' *ngFor='let item of classArray'>
    {{ item.title }}
   </div>
</div>
<br> -->


<mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Classes</mat-panel-title>
        </mat-expansion-panel-header>
    
        <mat-list>
            <mat-list-item [routerLink]="['/classedit', 0]">
                <mat-icon class="example-icon">add</mat-icon> Add a new Class
            </mat-list-item>
            <mat-list-item *ngFor='let classObject of classArray' [routerLink]="['/classedit',classObject.id]">
                {{ classObject.title }}
            </mat-list-item>
        </mat-list>
    </mat-expansion-panel>

<mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Courses</mat-panel-title>
        </mat-expansion-panel-header>
    
        <mat-list>
            <mat-list-item [routerLink]="['/courses', 0, 'edit']">
                <mat-icon class="example-icon">add</mat-icon> Add a new Course
            </mat-list-item>
            <mat-list-item *ngFor='let course of courseArray' [routerLink]="['/courses',course.id,'edit']">
                {{ course.title }}
            </mat-list-item>
        </mat-list>
    </mat-expansion-panel>


    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Series</mat-panel-title>
        </mat-expansion-panel-header>
    
        <mat-list>
            <mat-list-item [routerLink]="['/series', 0, 'edit']">
                <mat-icon class="example-icon">add</mat-icon> Add a new Series
            </mat-list-item>
            <mat-list-item *ngFor='let serie of seriesArray' [routerLink]="['/series',serie.id,'edit']">
                {{ serie.title }}
            </mat-list-item>
        </mat-list>
    </mat-expansion-panel>
    <br>
    

