<mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
        <mat-panel-title>Instructors</mat-panel-title>
    </mat-expansion-panel-header>
<user-list [users]="instructors" *ngIf='instructors' [showInstructorChoice]="false" [showSuspensionChoice]='false'></user-list>   
</mat-expansion-panel>
<br>
<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>Instructor Assignments</mat-panel-title>
    </mat-expansion-panel-header>
<assignments></assignments>
</mat-expansion-panel>