

        <form [formGroup]="seriesForm" novalidate class='loomForm group'>
                                        
        <div class='loomCard group'>
                        <div class='closer'
                        (click)="closer()"></div>
                <h1>Series Info:</h1>
          
                <mat-form-field>
                <input matInput  formControlName='title' placeholder="Title" 
                        name="title">
                </mat-form-field>

                <mat-form-field>
                     <input matInput  formControlName='description' placeholder="Description" 
                            name="description" >
            </mat-form-field>
        </div>
                 
        <div class='loomButton loomSubmit' (click)="save()">Submit Changes</div>
        <!-- <div class='loomButton loomCancel' [routerLink]="['/admin']" type='reset' >Cancel</div>   -->
        
                </form>
                <br clear='all'><br><hr><br>
                <div class='loomButton dangerous' (click)="remove()">
                    <mat-icon>delete</mat-icon><span class='raise'>
                        Remove This Series</span></div>