

    <form [formGroup]="courseFormGroup" novalidate (ngSubmit)="postCourse()" class='loomForm'>
    
        <div class='loomCard'>
                <div class='closer'
                (click)="closer()"></div>
    
                <div class="padMe">
            <h1>Course Info:</h1>
     
            <mat-form-field>
            <input id="title" matInput placeholder="Title" formControlName="title" >
            </mat-form-field>
            
            <mat-form-field>
            <textarea id="description" matInput placeholder="Description" 
            formControlName="description" rows="5" class='courseDescription'></textarea>
            </mat-form-field>
        <br>
            <br><img [src]="existingImage" width='200' height='200' *ngIf='existingImage'>
            <p *ngIf='!existingImage'>No image has yet been uploaded for this course.</p>
            <br><img [src]="imageUrl " width='200' height='200' *ngIf='imageUrl '><br>

            <div class="upload-wrap">
            Upload Main Course Image
            <input type="file" class="upload-btn"  name="imageUploader"  
            ng2FileSelect [uploader]="uploader" formControlName="imageUploader"
            (change)="fileChange($event)" id="imageUploader">
            <!-- <input type="file" class="upload-btn"  name="imageUploader"  
            ng2FileSelect formControlName="imageUploader"
            (change)="fileChange($event)" id="imageUploader"> -->
        </div>
            <br>
            <mat-expansion-panel formArrayName='sections' *ngFor='let section of sections.controls; let i = index'>

                    <mat-expansion-panel-header *ngIf="i > 0">
                            <mat-panel-title *ngIf='course.sections[i].title'>{{course.sections[i].title}} - {{course.sections[i].sectionNumber}}</mat-panel-title>
                            <mat-panel-title *ngIf='!course.sections[i].title'>Section {{i}} - {{course.sections[i].sectionNumber}}</mat-panel-title>
                    </mat-expansion-panel-header>

                    <div [formGroupName]="i" class='sectionContainer'>
             
                        <div class='bannerTop'>
                            <mat-form-field>
                            <input matInput id="{{ 'title' + i }}" 
                            placeholder="Title of Section {{ i+1 }} " formControlName="title" >
                            </mat-form-field>
                        </div>
                        <div class='sectionSection'>
                            <mat-form-field>
                            <textarea matInput matTextareaAutosize matAutosizeMinRows="2"
                            id="content" placeholder="Section Content"
                                formControlName="content"></textarea>
                            </mat-form-field>

                        <br clear='all'>

<!-- 
                        <div *ngIf='imageFormArray[i].controls && imageFormArray[i].controls.length > 0' class='group'>
                                <h1>Images</h1>
                            <div formArrayName='images' 
                            *ngFor='let thisImage of imageFormArray[i].controls; let m=index'>
                                <div class='loomChoice'>
                                    
                                    <button class='loomKill rightAlignMe'
                                     (click)='killImage(i,m)'></button>
                                     <div [formGroupName]="m">
                                         <mat-form-field>
                                             <mat-select [placeholder]='imagePlaceholder' formControlName='material'>
                                                    <mat-option *ngFor='let item of imageOptions' matOption [value]='item.id' 
                                                    ng-selected='value'>{{item.title}}</mat-option>
                                             </mat-select>
                                         </mat-form-field>
                                     </div>
                                </div>
                            </div>
                            <br clear='all'><br>
                        </div>




                        <div *ngIf='blockFormArray[i].controls && blockFormArray[i].controls.length > 0' class='group'>
                                <h1>HTML Blocks</h1>
                            <div formArrayName='blocks' 
                            *ngFor='let block of blockFormArray[i].controls; let m=index'>
                                <div class='loomChoice'>
                                    
                                    <button class='loomKill rightAlignMe'
                                     (click)='killBlock(i,m)'></button>
                                     <div [formGroupName]="m">
                                         <mat-form-field>
                                             <mat-select [placeholder]='blockPlaceholder' formControlName='material'>
                                                    <mat-option *ngFor='let item of blockOptions' matOption [value]='item.id' 
                                                    ng-selected='value'>{{item.title}}- by: {{item.author}}</mat-option>
                                             </mat-select>
                                         </mat-form-field>
                                     </div>
                                </div>
                            </div>
                            <br clear='all'>
                        </div>
                        


                        <div *ngIf='quoteFormArray[i].controls && quoteFormArray[i].controls.length > 0' class='group'>
                                <h1>Pull Quotes</h1>
                            <div formArrayName='quotes' 
                            *ngFor='let quote of quoteFormArray[i].controls; let m=index'>
                                <div class='loomChoice'>
                                    
                                    <button class='loomKill rightAlignMe'
                                     (click)='killQuote(i,m)'></button>
                                     <div [formGroupName]="m">
                                         <mat-form-field>
                                             <mat-select [placeholder]='quotePlaceholder' formControlName='material'>
                                                    <mat-option *ngFor='let item of quoteOptions' matOption [value]='item.id' 
                                                    ng-selected='value'>{{item.title}}- by: {{item.author}}</mat-option>
                                             </mat-select>
                                         </mat-form-field>
                                     </div>
                                </div>
                            </div>
                            <br clear='all'>
                        </div>
                        
                        
                        <div *ngIf='videoFormArray[i].controls && videoFormArray[i].controls.length > 0' class='group'>
                                <h1>Videos</h1>
                            <div formArrayName='videos' 
                            *ngFor='let video of videoFormArray[i].controls; let m=index'>
                                <div class='loomChoice'>
                                    
                                    <button class='loomKill rightAlignMe'
                                     (click)='killVideo(i,m)'></button>
                                     <div [formGroupName]="m">
                                         <mat-form-field>
                                             <mat-select [placeholder]='videoPlaceholder' formControlName='material'>
                                                    <mat-option *ngFor='let item of videoOptions' matOption [value]='item.id' 
                                                    ng-selected='value'>{{item.title}}- by: {{item.author}}</mat-option>
                                             </mat-select>
                                         </mat-form-field>
                                     </div>
                                </div>
                            </div>
                            <br clear='all'><br>
                        </div>
                        
                       
                        <div *ngIf='audioFormArray[i].controls && audioFormArray[i].controls.length > 0' class='group'>
                            <h1>Audios</h1>
                        
                            <div formArrayName='audios' 
                            *ngFor='let audio of audioFormArray[i].controls; let m=index'>
                                <div class='loomChoice'>
                                    
                                    <button class='loomKill rightAlignMe'
                                     (click)='killAudio(i,m)'></button>
                                     <div [formGroupName]="m">
                                         <mat-form-field>
                                             <mat-select [placeholder]='audioPlaceholder' formControlName='material'>
                                                    <mat-option *ngFor='let item of audioOptions' matOption [value]='item.id' 
                                                    ng-selected='value'>{{item.title}}- by: {{item.author}}</mat-option>
                                             </mat-select>
                                         </mat-form-field>
                                     </div>
                                </div>
                            </div>
                            <br clear='all'><br>
                        </div>
                        
                        
                        
                
                        
                        <div *ngIf='docFormArray[i].controls && docFormArray[i].controls.length > 0' class='group'>
                                <h1>PDF Documents</h1>
                            <div formArrayName='docs' 
                            *ngFor='let doc of docFormArray[i].controls; let m=index'>
                                <div class='loomChoice'>
                                    
                                    <button class='loomKill rightAlignMe'
                                     (click)='killDoc(i,m)'></button>
                                     <div [formGroupName]="m">
                                         <mat-form-field>
                                             <mat-select [placeholder]='docPlaceholder' formControlName='material'>
                                                    <mat-option *ngFor='let item of docOptions' matOption [value]='item.id' 
                                                    ng-selected='value'>{{item.title}}- by: {{item.author}}</mat-option>
                                             </mat-select>
                                         </mat-form-field>
                                     </div>
                                </div>
                            </div>
                            <br clear='all'><br>
                        </div>
                        
                        

                       
                        <div *ngIf='bookFormArray[i].controls && bookFormArray[i].controls.length > 0' class='group'>
                                <h1>Book References</h1>
                                <div formArrayName='books' 
                                *ngFor="let book of bookFormArray[i].controls;
                                 let k = index">
                                    <div class='loomChoice'>
                                    <button class='loomKill rightAlignMe'
                                     (click)='killBook(i,k)'></button>
                                    <div [formGroupName]="k">
                                        <mat-form-field>
                                    <mat-select [placeholder]="bookPlaceholder" formControlName="material">
                                    <mat-option *ngFor='let item of bookOptions' matOption [value]='item.id' 
                                    ng-selected='value'>{{item.title}}- by: {{item.author}}</mat-option>
                                </mat-select></mat-form-field>
                            </div></div> 
                            </div></div> -->

                        <br clear='all'><br>
                        <div class='smallLoomButton' (click)="addImage(i)">Add Image</div>
                        <div class='smallLoomButton' (click)="addBook(i)">Add Book Reference</div>
                        <div class='smallLoomButton' (click)="addDoc(i)">Add PDF Document</div>
                        <div class='smallLoomButton' (click)="addAudio(i)">Add Audio</div>
                        <div class='smallLoomButton' (click)="addVideo(i)">Add Video</div>
                        <div class='smallLoomButton' (click)="addQuote(i)">Add a PullQuote</div>
                        <div class='smallLoomButton' (click)="addBlock(i)">Add an HTML Block</div>
<hr>
                        <br clear='all'>
                        <div class='loomButton moveUp' (click)="moveUp(i)">Move this section up in the sequence</div><br>
                        <div class='loomButton dangerous' (click)="killSection(i)">
                                <mat-icon>delete</mat-icon><span class='raise'>
                                 Delete This Section</span></div>
                       

                    </div>
                    </div>
                <br>
            </mat-expansion-panel>


            <br>
            <div (click)="addSection()" class='loomButton'>Add Section</div><br clear='all'>

            <br clear='all'><br><hr><br>
        <div class='loomButton loomSubmit' 
             (click)='postCourse()'>Submit changes</div>
            <!-- <div class='loomButton loomCancel' [routerLink]="['/coursebuilder']" type='reset' >Cancel</div> -->
      
           
            <br clear='all'><br><hr><br>
            <div class='loomButton dangerous' (click)="removeCourse()">
                <mat-icon>delete</mat-icon><span class='raise'>
                    Remove This Course</span></div>
        </div> 
    </div>

    </form><br>       
 
     <div class='debug'>
        <!-- Form Dirty: {{ courseFormGroup.dirty }}<br>
        Form Touched: {{ courseFormGroup.touched }}<br>
        Form valid: {{ courseFormGroup.valid }}<br>
        Title: {{ courseFormGroup.controls.title }}<br>
        Title Valid: {{ courseFormGroup.controls.title.valid }}<br>
        Entire Form Value: {{ courseFormGroup.value | json }}<br>  -->
     </div>