.materialChooser {
    width:280px;
    border:1px solid #cccccc;
    padding-left:14px;
    margin-bottom:14px;
    box-shadow: 2px 2px 4px #bbbbbb;
}

.loomKill {
    width:15px;
    height:15px;
    border-radius: 0;
}


textarea.mat-input-element {
    line-height:2em !important;
}

.courseDescription {
    background-color:rgba(255,255,255,.5);
    padding:16px;
    border-radius:4px;
    width:97%;
}

.moveUp {
    padding:2px;
    padding-left:8px;
    padding-right:8px;
    margin-top:10px;
}

.sectionDivision {
   border:4px solid red !important;
   margin-top:40px;
}