<div class='stuff'>
    

    <form [formGroup]="materialForm" novalidate (ngSubmit)="postMaterial()">
                                    
    <div class='loomCard group'>
    
    <div class='padMe'>
    <h1>Course Material Info:</h1>
    <md-form-field>
    <input mdInput placeholder="Title" name="title" id='title' formControlName='title'>
    </md-form-field>

    <md-form-field>
        <input mdInput placeholder="Description" name="description" id='description' formControlName='description'>
        </md-form-field>
   
    <br>
    <br><img [src]="imageUrl" width='200' height='200' *ngIf='image'><br>
    
    <div class="upload-wrap">
        Include Image
        <input type="file" class="upload-btn"  name="image"  
        ng2FileSelect [uploader]="imageUploader" formControlName="imageUploader"
        (change)="imageChange($event)" id="image">
    </div>

    <br>
    <md-form-field>
        <input mdInput placeholder="Content Url" name="contenturl" id='contenturl' formControlName='contenturl'>
        </md-form-field>

    
    <md-select placeholder='Material Type' formControlName='type'>
        <md-option *ngFor='let type of types' mdOption [value]='type' ng-selected="material.type"> {{ type }}</md-option>
    </md-select>
<br><br>
File:  {{ file }}<br><br>
<div class="upload-wrap">
    Upload Document
    <input type="file" class="upload-btn"  name="file"  
    ng2FileSelect [uploader]="fileUploader" formControlName="fileUploader"
    (change)="fileChange($event)" id="file">
</div>


</div>
<button md-raised-button color="primary" class='loomButton' 
type='submit' >Submit changes</button>

</div>

</form>    
</div>
