<div class='stuff'>
        
        <form #assetform="ngForm" novalidate (ngSubmit)="save(assetform)">
                               
        <div class='loomCard group'>
        
        <div class='padMe'>
        <h1>Asset Info:</h1>


   <!-- Multiple
   <input type="file"  multiple  /><br/> -->

   Single
   <input type="file" class="form-control" name="single" ng2FileSelect [uploader]="uploader" />                                  
   
   <!-- <input name="file"
   id="myFileInputField" type="file" placeholder="Upload file" 
   accept=".pdf,.doc,.docx,.jpeg,.jpg,.gif,.png" multiple> -->

        </div>

        <button type="button" class="btn btn-success btn-s"
        (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
         <span class="glyphicon glyphicon-upload"></span> Upload all
     </button><br />

     
        <!-- <button md-raised-button color="primary" class='loomButton'>Upload Asset</button> -->
        </div>
        


        </form>
</div>