
<div class='closer'
(click)="closer()"></div>

<h1>Coursework for: {{ course.title }}</h1>

<form [formGroup]="courseFormGroup" novalidate (ngSubmit)="postCourse()" class='loomForm courseEditForm'>

    <mat-form-field>
    <input id="title" matInput placeholder="Title" formControlName="title" >
    </mat-form-field>

    <mat-form-field>
    <textarea id="description" matInput placeholder="Description" 
    formControlName="description" rows="5" class='courseDescription'></textarea>
    </mat-form-field>
<br>
    <br><img [src]="existingImage" width='150' height='150' *ngIf='existingImage'>
    <p *ngIf='!existingImage'>No image has yet been uploaded for this course.</p>
    <img [src]="imageURL " width='150' height='150' *ngIf='imageURL '>

    <div class="upload-wrap">
    Upload Main Course Image
    <!-- <input type="file" class="upload-btn"  name="imageUploader"  
    ng2FileSelect [uploader]="uploader" formControlName="imageUploader"
    (change)="fileChange($event)" id="imageUploader"> -->

    <br></div><br>
  <div class='wrapper' [dragula]='"section-bag"' [dragulaModel]='course.sections'>
  
        <mat-expansion-panel  *ngFor='let section of course.sections; let i = index'>
           <!-- formArrayName='sections' -->
            <mat-expansion-panel-header *ngIf="i > 0" class='header'>  
                <div class='handle'><h1>{{course.sections[i].sectionNumber}} - {{section.title}}</h1></div>
            </mat-expansion-panel-header>
            <section-edit [section]=section [index]=i (onDestroy)='destroySection($event)'
            (onChange)='changeSection($event)'></section-edit>
      </mat-expansion-panel>
  </div>
</form>

<div (click)='addSection()' class='loomButton simpleAdd'>Add a new Section</div>
<br clear='all'>
<div class='courseEditSubmit' 
(click)='postCourse()'>Save My Changes</div>
          <br clear='all'><br><hr><br>
<div class='loomButton dangerous' (click)="removeCourse()">
    <mat-icon>delete</mat-icon><span class='raise'>
        Remove This Course</span></div>
 
        
        <!-- <div class='wrapper' [dragula]='"test-outer-bag"'>
            
            <div class='testDiv' *ngFor='let item of items'>
                    <div class='handle'>XXXX</div>
                {{ item.title }}
                <div class='wrapper' [dragula]='"test-inner-bag"'>
                    <div class='testDiv' *ngFor='let item of items'>
                        {{ item.title}}
                    </div>
                </div>
            </div>
        </div> -->
  <div class='debug'>
<!-- {{    course.sections | json }} -->
  </div>

 