<div class='loomContainer'>
        <div class="loomCard">
            <div class="padMe">
            <!-- <div class="alert alert-info">
            </div> -->
            <flash-messages></flash-messages>   
            <h2>Request a reset of your registered password</h2>
            <form name="form" (ngSubmit)="f.form.valid && 
            sendResetRequest()" #f="ngForm" novalidate>
                     
                <mat-form-field>
                <input #email="ngModel" matInput placeholder="email" name="email" 
                [(ngModel)]="model.email" required type="email" 
                minlength="7" maxlength="40" 
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                </mat-form-field>

                        <br>
                        <button mat-raised-button color="primary" 
                        class='rightAlignMe'
                         [disabled]="f.form.invalid">OK</button>
                        <br clear='all'>
                            <!-- <button class="bd-full-width-button">LOGIN</button> -->
        
            
            </form>
        </div>
        </div>
        
