audio {
  padding:10px;
}

h1 {
    font-family: 'Josefin Sans';
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: -.05em;
    margin-bottom:0;
}

h2 {
  font-family: 'Josefin Sans';
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: -.05em;
  margin-bottom:0;
  color:rgba(0,0,0,.4);
  font-size:1.1em;
  margin-top:10px;
}

p {
  margin-left:auto;
  margin-right:auto;
  font-family: 'Muli';
  line-height:1.5em;
  width:85%;
  text-align: left;
  font-size:.9em;
}

.audioPiece {
  margin-bottom:40px;
  width:40%;
  display:inline-block;
  box-shadow: 0px 0px 20px rgba(0,0,0,.25);
  border-radius:6px;
  min-width:400px;
  padding:8px;
  box-sizing: border-box;
  padding-left:12px;
  padding-right:12px;

}

.length {
  color:#888888;
  font-weight: bold;
  border-top:1px solid #555555;
  margin-top:30px;
  max-width:100px;
  text-align: center;
}

.audioImage {
  width:100%;
}

.audioImageContainer {
  width:100%;
}