<div class='audioPiece group'>
  <div *ngIf='audioObject.image' class='audioImageContainer'>
    <img [src]='imageURL' class='audioImage'>
  </div>
<h1>{{ audioObject.title }}</h1>
<h2>{{ audioObject.author }}</h2>
<p>{{ audioObject.description }}</p>
<p class='length'>{{ audioObject.length }}</p>
<audio controls controlsList="nodownload"  (contextmenu)="onRightClick()">

        <source [src]="audioSource" type="audio/mpeg">
      Your browser does not support the audio element.
      </audio>
</div>