

<div class='stuff'>
   
        <form [formGroup]="courseFormGroup" novalidate (ngSubmit)="postCourse()">
        
            <div class='loomCard'>
                <div class="padMe">
                <h1>Course Info:</h1>
                </div>
             </div>
 
        </form><br>       <button (click)="showForm()">ShowFormInfo</button>
</div>

<div class='debug'>
   Form Dirty: {{ courseFormGroup.dirty }}<br>
   Form Touched: {{ courseFormGroup.touched }}<br>
   Form valid: {{ courseFormGroup.valid }}<br>
   Title: {{ courseFormGroup.controls.title }}<br>
   Title Valid: {{ courseFormGroup.controls.title.valid }}<br>
   Entire Form Value: {{ courseFormGroup.value | json }}<br> 
</div>