.materialChooser {
    width:280px;
    border:1px solid #cccccc;
    padding-left:14px;
    margin-bottom:14px;
    box-shadow: 2px 2px 4px #bbbbbb;
}

.loomKill {
    width:15px;
    height:15px;
    border-radius: 0;
}