
<div class='loomContainer group'>
    <form [formGroup]="courseFormGroup" novalidate (ngSubmit)="postCourse()" class='loomForm'>
    
        <div class='loomCard'>
                <div class='bigDelete'
                (click)="deleteCourse(this.course.id)"></div>
    
                <div class="padMe">
            <h1>Course Info:</h1>
            <flash-messages></flash-messages>

            <mat-form-field>
            <input id="title" matInput placeholder="Title" formControlName="title" >
            </mat-form-field>
            <mat-form-field>

            <textarea id="description" matInput placeholder="Description" 
            formControlName="description" ></textarea>
            </mat-form-field>
        <br>
            <br><img [src]="existingImage" width='200' height='200' *ngIf='existingImage'><br>
            <br><img [src]="imageUrl " width='200' height='200' *ngIf='imageUrl '><br>

            <div class="upload-wrap">
            Upload Image
            <input type="file" class="upload-btn"  name="imageUploader"  
            ng2FileSelect [uploader]="uploader" formControlName="imageUploader"
            (change)="fileChange($event)" id="imageUploader">
        </div>
            <br>
            <mat-expansion-panel formArrayName='sections' *ngFor='let section of sections.controls; let i = index'>

                    <mat-expansion-panel-header>
                            <mat-panel-title>Section {{i +1}}</mat-panel-title>
                        </mat-expansion-panel-header>

                    <div [formGroupName]="i" class='sectionContainer'>
                        <button class='loomKill rightAlignMe' (click)="killSection(i)"></button>
                            
                        <div class='bannerTop'>
                            <mat-form-field>
                            <input matInput id="{{ 'title' + i }}" 
                            placeholder="Title of Section {{ i+1 }} " formControlName="title" >
                            </mat-form-field>
                        </div>
                        <div class='sectionSection'>
                            <mat-form-field>
                            <textarea matInput matTextareaAutosize matAutosizeMinRows="2"
                            id="content" placeholder="Section Content"
                                formControlName="content"></textarea>
                            </mat-form-field>
                            <!-- <p>Material List:</p>
                            <div *ngFor="let material of course.sections[i].materials">
                                Material: {{ material.title }}
                            </div> -->
                            <h1>Materials</h1>
                            <div *ngIf='materialFormArray && materialFormArray[i]'>
                            <div formArrayName='materials' *ngFor="let material of materialFormArray[i].controls; let j = index">
                                <div class='loomChoice'>
                                <button class='loomKill rightAlignMe' (click)='killMaterial(i,j)'></button>
                                <div [formGroupName]="j">
                                    <mat-form-field>
                                <mat-select [placeholder]="materialPlaceholder" formControlName="material">
                                <mat-option *ngFor='let item of materials' mdOption [value]='item.id' 
                                ng-selected='value'>{{item.title}}</mat-option>
                            </mat-select></mat-form-field>
                        </div></div> 
                        </div></div><br clear='all'><br>
                        
                        <div class='loomButton' (click)="addMaterial(i)">Add Material</div>
                        <br clear='all'>
                        <h1>Book References</h1>
                        <div *ngIf='bookFormArray && bookFormArray[i]'>
                                <div formArrayName='books' *ngFor="let book of bookFormArray[i].controls;
                                 let k = index">
                                    <div class='loomChoice'>
                                    <button class='loomKill rightAlignMe' (click)='killBook(i,k)'></button>
                                    <div [formGroupName]="k">
                                        <mat-form-field>
                                    <mat-select [placeholder]="bookPlaceholder" formControlName="book">
                                    <mat-option *ngFor='let item of books' mdOption [value]='item.id' 
                                    ng-selected='value'>{{item.title}}</mat-option>
                                </mat-select></mat-form-field>
                            </div></div> 
                            </div></div>

                        <br clear='all'><br>
                        <div class='loomButton' (click)="addBook(i)">Add Book Reference</div>
                        <br clear='all'>
                        </div>
                    
                    </div>
                <br>
            </mat-expansion-panel>


            <br>
            <div (click)="addSection()" class='loomButton'>Add Section</div><br clear='all'>

        
        <div class='loomButton loomSubmit' 
             (click)='postCourse()'>Submit changes</div>
            <div class='loomButton loomCancel' [routerLink]="['/coursebuilder']" type='reset' >Cancel</div>
      
           
            <br clear='all'>
        </div> 
    </div>

    </form><br>       <button (click)="showForm()">ShowFormInfo</button>
     </div>
     
     <div class='debug'>
        Form Dirty: {{ courseFormGroup.dirty }}<br>
        Form Touched: {{ courseFormGroup.touched }}<br>
        Form valid: {{ courseFormGroup.valid }}<br>
        Title: {{ courseFormGroup.controls.title }}<br>
        Title Valid: {{ courseFormGroup.controls.title.valid }}<br>
        Entire Form Value: {{ courseFormGroup.value | json }}<br> 
     </div>