<div *ngIf='!tiny'>
    <div class='userThumb'>
    <a [routerLink]="['/users', user.id, 'edit']" *ngIf='editable'>
    <img [src]="user.avatar_URL" *ngIf='user.avatar_URL'>
  </a>

  <div *ngIf='!editable'>
  <img [src]="user.avatar_URL" *ngIf='user.avatar_URL'>
  </div>

    <button class='loomSquareButton simpleKill rightAlignMe' 
    (click)="deleteUser(user.id)" *ngIf='deletable'></button>
    <h2> {{user.username}}</h2>
    <p> {{ user.firstname }}&nbsp;{{ user.lastname }}</p>
    <p> {{user.email}}</p>
  </div>
</div>

<div *ngIf='tiny'>
  <div class='tinyThumb' *ngIf='user'>
      <img [src]="user.avatar_URL" *ngIf='user.avatar_URL'><br>
      {{ user.username }}
  </div>
</div>