

.userThumb {
border:2px solid #aaaaaa;
box-shadow:4x 4x 4x #555555;
border-radius: 8px;
margin-right:8px;
margin-bottom:8px;
background-color:white;
display:inline-block;
float:left;
line-height: .5em;
overflow: hidden;
font-size:.87em;
}
.userThumb h2 {
padding-left:10px;
font-size:1em;
}

.userThumb p {
padding-left:10px;
}

.userThumb img {
width:100%;
}


.inDaHouse {
border:2px solid #555555;
opacity:1;
box-shadow: 4px 4px 4px #888888;
margin-right:10px;

}

.notInDaHouse {
opacity: .42;

}