
<div [style.width.px]="thumbnail.size" class='userThumb'>

<div *ngIf='thumbnail.editable'>
<a [routerLink]="['/usersettings', thumbnail.user.id, 'edit']">
<img [src]="thumbnail.user.avatar_URL" *ngIf='thumbnail.user.avatar_URL'>
</a></div>

<div *ngIf='!thumbnail.editable && thumbnail.user'>
  <img [src]="thumbnail.user.avatar_URL" *ngIf='thumbnail.user.avatar_URL'>
</div>




<div *ngIf="thumbnail.user">
<h2 *ngIf='thumbnail.showUsername'> {{thumbnail.user.username}}</h2>
<p *ngIf='thumbnail.showInfo'> {{ thumbnail.user.firstname }}&nbsp;{{ thumbnail.user.lastname }}</p>
<p *ngIf='thumbnail.showInfo'> {{thumbnail.user.email}}</p>
</div></div>

