
<div *ngIf="materialcollection" class='materialCollection'>

        
    <div *ngIf="materialcollection.videos">
      
        <div *ngFor="let vid of materialcollection.videos; let i = index" class='videoWrap'>
            <video-component [videoObject]="vid"></video-component>
        </div>
    </div>

    <div *ngIf="materialcollection.docs">
          
            <div *ngFor="let documentObject of materialcollection.docs"
             class='documentWrap'>
           
                <!-- <a [href]="documentObject.fileURL" target='_blank'> -->
                <div (click)='open_modal(documentObject.fileURL)'>
                <div *ngIf='documentObject.imageURL'>
                <div class='documentImage' 
                [ngStyle]="{ 'background-image': 'url(' + documentObject.imageURL + ')'}"
                *ngIf="documentObject.imageURL"></div></div>


                <div class='documentImage'  *ngIf="!documentObject.imageURL"></div>
                <h1>{{documentObject.title}}</h1>
                <!-- <p>{{ documentObject.fileURL }}</p> -->
                <p>{{ documentObject.description }}</p>
            </div>
        <!-- </a> -->
              
            </div>
        </div>

    <div *ngIf="materialcollection.books && (materialcollection.books.length > 0)">
     
            <books [books]="materialcollection.books"></books>

            <!-- <div *ngFor="let bookObject of materialcollection.books">
                <h1>Book: {{bookObject.title}}</h1>
                <div>Book link here.</div>
            </div> -->
        </div>
</div>

<div *ngIf='displayModal' class='modal'>
    <modal [modalURL]='modalURL'></modal>
    </div>