.documentImage {
    width:190px;
    height:150px;
    background-color:black;
    border:1px solid black;
    margin-left:auto;
    margin-right:auto;
    background-size:150%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    user-select: none;
}

.documentWrap {
    width:200px;
    margin:0;
    border-left:2px solid rgba(0,0,0,.3);
    border-top:0;
    border-bottom:0;
    padding:10px;
    padding-bottom:30px;
    display:inline-block;
    vertical-align: top;
    height:300px;

}

.endPiece {
    width:1px;
    height:300px;
    display:inline-block;
    vertical-align: top;
    border-right:2px solid rgba(0,0,0,.3);
    padding-top:10px;
    padding-bottom:30px;
}

.documentWrap h1 {
    font-family: 'Josefin Sans';
    text-transform: uppercase;
    font-size:1.2em;
    letter-spacing: -.05em;
}

.documentWrap h2 {
    font-family: 'Josefin Sans';
    text-transform: uppercase;
    font-size:.9em;
    letter-spacing: -.05em;
    color:rgba(0,0,0,.3);
    margin-top:4px;
    margin-bottom:4px;
}
.documentWrap p {
    font-family: 'Muli';
    font-size:.9em;
    line-height: 1.4em;
    width:90%;
    margin:auto;
}

.materialCollection {
    margin-top:20px;
   padding-top:20px;
}