<div class='navBarWrap'>
<div (click)="updateMyself()" class='myNavWrapper group'> 
	<button mat-icon-button [matMenuTriggerFor]="menu" class='loomMenu'>
		<mat-icon>menu</mat-icon>
	</button>
<mat-menu #menu="matMenu">
	<a href="" [routerLink]="['/welcome']"><button mat-menu-item>Welcome</button></a>
	<a *ngIf="currentUser" [routerLink]="['/home']">
		<button mat-menu-item>Home</button></a>
	<a *ngIf='admin' [routerLink]="['/coursebuilder']"><button mat-menu-item>Course Builder</button></a>
	<a *ngIf='admin' [routerLink]="['/enrollments']"><button mat-menu-item>Enrollments</button></a>
	<a *ngIf='admin' [routerLink]="['/admin']"><button mat-menu-item>Admin</button></a>
	<a  *ngIf="currentUser" (click)="gotoSettings()"><button mat-menu-item>My Settings</button></a>
	<a *ngIf="currentUser" (click)="logout()"><button mat-menu-item>Logout</button></a>

	<a  *ngIf="!currentUser" [routerLink]="['/signup']"><button mat-menu-item>Sign up</button></a>
	<a   *ngIf="!currentUser" [routerLink]="['/login']">
		<button mat-menu-item>Login</button></a>
</mat-menu>

<a [routerLink]="['/welcome']"><div class='easyHomeButton'>
	THE RECLAIMING LOOM
</div></a>

<div class='quickMessageDoc'>
		<div [class]='messageListStyle' 
		(click)='checkFresh();openMessageList()' (clickOutside)='closeMessageList()'></div>
	<div class='messageListContainer group' *ngIf='showingMessageList'>
			<div class='messageList group'>
				<div *ngIf='!freshList'>
				<p>No new messages.</p>	
				</div>
				<div *ngIf='freshList'>
					<div *ngFor='let msg of freshList' class='msgLine group'
					 (click)="openMsg(msg.thumbnail)">
						<user-thumb [thumbnail]='msg.thumbnail' class='listThumb'></user-thumb>
						<div class='message'>
						<h1>{{ msg.thumbnail.user.username }}</h1>
						<p>{{ msg.last_message}}</p>
						</div>
					</div>
				</div>
			</div>
	</div>
</div>

	
	
<div *ngIf="username" class='userPic'>
<p>You are logged in as:<span class='username'>
	{{ username }}</span>
</p>

	<img *ngIf="avatarimage" [src]="avatarimage" class='avatar'>


</div>



</div>
</div>