<div class='navBarWrap'>
<div class='myNavWrapper group'> 
	<button mat-icon-button [matMenuTriggerFor]="menu" class='loomMenu'>
		<mat-icon>menu</mat-icon>
	</button>
<mat-menu #menu="matMenu">
	<a href="" [routerLink]="['/']"><button mat-menu-item>Home</button></a>
	<a *ngIf="currentUser" [routerLink]="['/classes']">
		<button mat-menu-item>My Classes</button></a>
	<!-- <a *ngIf='admin' [routerLink]="['/coursebuilder']"><button mat-menu-item>Course Builder</button></a> -->
	<!-- <a *ngIf='admin' [routerLink]="['/enrollments']"><button mat-menu-item>Enrollments</button></a> -->
	<a *ngIf='admin' [routerLink]="['/admin']"><button mat-menu-item>Admin</button></a>
	<a  *ngIf="!currentUser" [routerLink]="['/signup']"><button mat-menu-item>Sign up</button></a>
	<a   *ngIf="!currentUser" [routerLink]="['/login']">
		<button mat-menu-item>Login</button></a>
	<a [routerLink]="['/contact']"><button mat-menu-item>Contact</button></a>
	<a (click)='logout()'><button mat-menu-item>Log Out</button></a>
</mat-menu>

<div class='easyHomeButton' [routerLink]="['/classes']">
	THE RECLAIMING LOOM
</div>

<div *ngIf='admin' [routerLink]="['/admin']" class='adminLink'>admin</div>
<div class='quickMessageDoc' *ngIf='currentUser'>
		<div [class]='messageListStyle' 
		(click)='openMessageList()' (clickOutside)='closeMessageList()'></div>
	<div class='messageListContainer group' *ngIf='showingMessageList'>
			<div class='messageList group'>
				<div *ngIf='!freshList && !list'>
				<p>No messages found.</p>	
				</div>
				<div *ngIf='freshList && (freshList.length > 0)'>
					<div *ngFor='let msg of freshList' class='msgFreshLine group'
					 (click)="openMsg(msg.thumbnail)">
						<user-thumb [thumbnail]='msg.thumbnail' class='listThumb'></user-thumb>
						<div class='message'>
						<h1>{{ msg.thumbnail.user.username }}</h1>
						<p>{{ msg.last_message}}</p>
						</div>
					</div>
				</div>
				<div *ngIf='list'>
						<div *ngFor='let msg of list' class='msgLine group'
						 (click)="openMsg(msg.thumbnail)">
							<user-thumb [thumbnail]='msg.thumbnail' class='listThumb'></user-thumb>
							<div class='message'>
							<h1>{{ msg.thumbnail.user.username }}</h1>
							<p>{{ msg.last_message}}</p>
							</div>
						</div>
					</div>
			</div>
	</div>
</div>

<div class='avatarMenuDoc' *ngIf='currentUser'>
		<img *ngIf="avatarExists" [src]="avatarimage" class='avatar' 
		(click)='openAvatarMenu()' (clickOutside)='closeAvatarMenu()'>
<div class='avatarMenu' *ngIf='showAvatarMenu'>
	<div class='avatarMenuItem' *ngIf='currentUser' (click)="gotoSettings()">
		My Settings
	</div>
	<div class='avatarMenuItem' *ngIf='currentUser' (click)="logout()">
		Logout
		</div>
</div>
</div>

<p *ngIf='username' class='userName'>
	<span id='logLabel'>You are logged in as:</span><br>
	<span class='usernameOnly'>{{ username }} </span>  <!-- {{currentUser.id}} -->
</p>



</div>
</div>