/* .nav-bar {
	width:100%;
	padding:20px;
	text-align:right;
	padding:0px;
	margin:0px;
	border-radius: 0;
	height:50px;
}

.nav-bar nav {
	padding:0px;
	margin:0px;
}

.nav-bar ul {
	padding:0;
	margin:0;
}

.nav-bar ul li {
	list-style: none;
	display:inline-block;
	padding-left:20px;
	padding-right:20px;
	margin:0px;
	padding-bottom:0px;
	height:60px;
	font-size: 1em;
	font-weight: normal;
}

.nav-bar ul a {
	margin:0px;
	padding:0px;
	text-decoration: none;
	color:white;
}

.nav-bar ul li:hover {
	background-color:#B50FC6;
} */

.userInfo {
	font-size:.8em;
	font-weight: 400;
	background-color:rgba(0,0,0,.25);
	padding:6px;
	padding-left:17px;
	padding-right:17px;
	box-sizing: border-box;
	border-radius:6px;
}

.infoElement {
	display:inline-block;
	float:left;
	border:4px solid green;
	padding:20px;
	min-width:300px;
	color:white;
	padding-top:12px;
	min-height:40px;
	margin-top:10px;
}
md-toolbar {
margin-left:auto;
margin-right:auto;
width:100%;
max-width:1200px;
}

.avatar {
	width:55px;
	height:55px;
	margin-top:10px;
}