
<div class='padMe group'>
    <h1>Courses on The Loom</h1>
    <ul class="list-group" *ngIf="courses">
      <li class="list-group-item"
        *ngFor="let course of courses"
        >
        <h2>{{course.title}}</h2>
        <p>{{course.description}}</p>
        <p>{{ course.id }}</p>
  
      </li>
    </ul>

    <!-- <button class="btn btn-warning" (click)="createNewCourse()">New</button> -->

<div class="notice" *ngIf="!courses">Currently having trouble accessing the database for course info.</div>
</div>
