.bookCollection > h1 {
    font-family: 'Josefin Sans';
    font-weight:400;
    font-size:1.4em;
    text-transform: uppercase;
    padding-bottom:0;
    margin-top:20px;
    font-weight: 400;
    letter-spacing: -.05em;
}

.bookCollection {
    text-align:center;
    /* border:1px solid black; */
    border-radius:4px;
    background-color:rgba(255,255,255,.1);
}

.collectionContainer {
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    /* background-color:rgba(255,255,255,.5); */
    justify-content:center;
   
    margin-top:10px;
}


.ccchild {
    border:1px solid rgba(0,0,0,0);
    vertical-align: top;
    align-self:center;
    display:inline-block;
    
}