.bookImageContainer {
    width:80%;
    height:140px;
    overflow: hidden;
    border:1px solid #222222;
    margin-left:auto;
    margin-right:auto;
    margin-top:12px;
    margin-bottom:12px;
    box-shadow:0px 0px 20px rgba(0,0,0,.5);
}



.bookImage {
    width:100%;
    
}

.bookContainer {

    margin:4px;
    width:190px;
    align-self:center;
    vertical-align: top;
    /* background-color:rgba(255,255,255,.5); */
    padding:8px;
    padding-bottom:24px;
    /* box-shadow:4px 4px 4px rgba(0,0,0,.5); */
    text-align: center;

}

.bookContainer h1 {
    font-size:.9em;
    font-family: 'Josefin Sans';
    text-transform: uppercase;
    letter-spacing: -.1em;
    margin-bottom:0;
    padding-bottom:0;
}  

.bookContainer p {
    padding:0;
    margin:0;
    line-height: 1em;
}

