.bookImageContainer {
    max-width:80%;
    overflow: hidden;
    margin-left:auto;
    margin-right:auto;
    margin-top:12px;
    margin-bottom:12px;
    box-shadow:0px 0px 20px rgba(0,0,0,.5);
}



.bookImage {
    max-width:100%;
    max-height:100%;
    margin-bottom:-10px;
    
}

.bookContainer {

    margin:4px;
    width:190px;
    align-self:center;
    vertical-align: top;
    /* background-color:rgba(255,255,255,.5); */
    padding:8px;
    padding-bottom:24px;
    /* box-shadow:4px 4px 4px rgba(0,0,0,.5); */
    text-align: center;
    max-height:300px;
}

.bookContainer h1 {
    font-size:.9em;
    font-family: 'Josefin Sans';
    text-transform: uppercase;
    letter-spacing: -.1em;
    margin-bottom:0;
    padding-bottom:0;
}  

.bookContainer p {
    padding:0;
    margin:0;
    line-height: 1em;
}

.big {
    width:240px;
    display:inline-block;
    position: relative;
    top:-100px;
    left:-20px;
    box-shadow:0px 0px 18px rgba(0,0,0,.5);
    padding:0;
    background-color:white;
}

.big img {
    width:100%;
    margin:0;
    padding:0;
    margin-bottom:-8px;

}

.acquire {
    background-color:#555555;
    color:white;
    font-weight: bold;
    font-size:.89em;
    font-family: 'Josefin Sans';
    text-transform: uppercase;
    padding:18px;
    user-select: none;
    cursor:pointer;
    border:2px solid #555555;
}

.acquire:hover {
    background-color:#666666;
    border:2px solid white;
}

.acquire:active {
    background-color:#888888;
    border:2px solid black;
}

.bookInfoContainer > h1 {
    font-family: 'Josefin Sans';
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -.05em;
    margin-bottom:0;
    font-size:1em;
}

.bookInfoContainer > h2 {
  font-family: 'Muli';
  text-transform: uppercase;
  margin-bottom:0;
  color:#888888;
  font-size:.94em;
  margin-top:10px;
}
