
.redirectMsg {
    background-color:rgba(255,255,255,.5);
    margin-top:80px;
    padding:14px;
    border-radius:5px;
    width:80%;
    margin-left:auto;
    margin-right:auto;
}

.loginStuff {
    text-align: center;
}

p {
    color:#cccccc;
    text-align: center;
}

.orMessage {
    height:100px;
    background-image:url('../../assets/images/or_message.gif');
    background-position: 50% 50%;
    background-size:200px;
    background-repeat: no-repeat;
}

.fbLoginButton{
    padding-top:20px;
    padding-left:40px;
    padding-right:40px;
    padding-bottom:20px;
    color:black;
    background-color:#2f507c;
    margin-left:auto;
    margin-right:auto;
    color:#dddddd;
    border-radius:5px;
    box-shadow:2px 2px 8px rgba(0,0,0,.4);
    user-select: none;
    cursor: pointer;
    text-align: center;
    width:100%;
    max-width:640px;
    box-sizing: border-box;
    margin-top:0px;
}


.fbLoginButton:active {
    background-color:#3b95fd;
    position:relative;
    top:1px;
    left:1px;
    box-shadow:2px 2px 4px rgba(0,0,0,.9);
}

.loginBox {
    text-align: left;
    margin-left:auto;
    margin-right:auto;
    width:60%;
    padding:0px;
    margin-top:20px;
    box-sizing: border-box;
    border-radius:4px;
    overflow: hidden;
    font-family: 'Roboto';
    margin-top:80px;
    background-color:#34414e;
    min-width:640px;
  }
.branding {
    width:35%;
    display:inline-block;
    float:left;
    background-color:#3c4b5a;
    height:300px;
    margin:0;
    padding:20px;
    color:white;
    box-sizing:border-box;
    padding-top:80px;
    text-align: left;
    user-select: none;
}
.branding p {
    text-align: left;
}
.branding h1 {

    font-weight: 300;
    margin-bottom:40px;
}

.credsBox {

    display:inline-block;
    float:right;
    width:64.9%;
    box-sizing: border-box;
    padding-top:50px;
    height:300px;

}
.creds {
    padding:10px;
    box-sizing: border-box;

    margin-bottom:10px;
}

.large {
    width:80%;
    margin:20px;
    margin-top:0;
}

.human {
    display:inline-block;
    float:left;
    width:35px;
    height:35px;
    background-image:url(../../assets/images/human.svg);
    background-position: 50% 50%;
    background-size:100%;
    margin-left:4px;
    margin-top:10px;
}
.key {
    display:inline-block;
    float:left;
    width:35px;
    height:35px;
    background-image:url(../../assets/images/key.svg);
    background-position: 50% 50%;
    background-size:100%;
    margin-left:4px;
    margin-top:10px;
}

.credField {
    display:inline-block;
    float:left;
    vertical-align: top;
    width:80%;
    margin-right:10px;
    margin-left:10px;
    margin-bottom:25px;
 
}


.loginButton {
    width:102%;
    height:70px;
    background-color: #326996;
    color:white;
    margin:0;
    text-align: center;
    font-weight: 500;
    font-size:1.2em;
    font-family: 'Muli';
    padding:20px;
    box-sizing: border-box;
    position: relative;
    left:-1px;
    margin-top:10px;
    user-select: none;
    cursor: pointer;
}

.loginButton:active {
    background-color:#4783b4;
}

.credField input {
    width:300px;
    height:50px;
    box-sizing:border-box;
    font-family: 'Roboto';
    font-size:1.5em;
    font-weight: 900;
    color:#a7b1bd;
    font-weight: 400;
    border-radius:4px;
    background-color:rgba(255,255,255,0);
    outline:none;
    border:0;
    border-bottom:2px solid rgba(167, 177, 189,.5);
    border-radius: 0;
    margin-left:10px;
    letter-spacing: .05em;
    padding-top:20px;
}

.credField input:focus {
    border-bottom:1px solid rgba(167, 177, 189,1);
}

.credField input:focus::-webkit-input-placeholder {
    position: relative;
    top:-28px;
    font-size:.5em;
    transition: all .65s;
 
}

.credField input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #a7b1bd;
    font-size:.6em;
    font-family:'Muli';
    font-weight: 700;
    letter-spacing: .1em;
    padding-bottom:0;
    padding-top:18px;
    position:relative;
    top:-5px;
  }
  .credField input:focus::-moz-placeholder {
    position: relative;
    top:-28px;
    font-size:.5em;
    transition: all .65s;
  
  }

  .credField input::-moz-placeholder { /* Firefox 19+ */
    color: #a7b1bd;
    font-size:.6em;
    font-family:'Muli';
    font-weight: 700;
    letter-spacing: .1em;
    padding-bottom:0;
    padding-top:18px;
    position:relative;
    top:-5px;
  }

  .credField input:-ms-input-placeholder { /* IE 10+ */
    color: #a7b1bd;
    font-size:.6em;
    font-family:'Muli';
    font-weight: 700;
    letter-spacing: .1em;
    padding-bottom:0;
    padding-top:18px;
    position:relative;
    top:-5px;
  }

  .credField input:-moz-placeholder { /* Firefox 18- */
    color: #a7b1bd;
    font-size:.6em;
    font-family:'Muli';
    font-weight: 700;
    letter-spacing: .1em;
    padding-bottom:0;
    padding-top:18px;
    position:relative;
    top:-5px;
  }
  .loginform {
    
  }

  @media (max-width: 600px) {
      .loginBox {
          width:100%;
          min-width:100%;
          border-radius: 0;
      }
    .branding {
        display:block;
        width:100%;
        height:80px;
        padding-top:10px;
        float:none;
    }

    .credsBox {
        display:block;
        width:100%;
        margin-left:0;
        float: none;
        padding-top:30px;
    }

    .trouble {
        display:none;
    }

    .loginButton {
        margin-left:0px;
        width:100%;
        margin-top:30px;
    }

    .credField input {
        width:400px;
    }
  }


