
<div class='loomContainer'>
                <flash-messages></flash-messages>
<div class="loginBox">


    <!-- <div class="alert alert-info">
    </div> -->

<div class='branding'>
    <h1>Log in</h1>
  <br>
  <p>Having trouble signing in?</p>
  <p><a [routerLink]="['/requestreset']">Request a password reset, via email.</a></p>
</div>
<div class='credsBox'>
       
                <form name="form" (ngSubmit)="f.form.valid &&
                login()" #f="ngForm" novalidate (keydown)="keyDownFunction($event)">
                <div class='creds'>
                        <div class='human'></div>
                        <div class='credField'>
                    
                    <input #username="ngModel"  placeholder="USERNAME" 
                    name="usernane" [(ngModel)]="model.username" 
                    required maxlength="30" minlength="3">
</div>
        
                   
                    <div class='key'></div>
                    <div class='credField'>
  
                    <input #password="ngModel" type="password" 
                     placeholder="PASSWORD" 
                    name="pasword" [(ngModel)]="model.password" 
                    required maxlength="30" minlength="3">
               </div><br>
        
                <br></div>
               
                <br clear='all'><br>
                    <!-- <button class="bd-full-width-button">LOGIN</button> -->

                <div class='loginButton' (click)='login()' type='submit'>LOG IN</div>
                
    </form>
</div>
</div>


        <div class='fbLoginButton' (click)="StartFBLogin()">Sign up and Login using Facebook</div>

<br clear='all'>
<p>New to the Loom? <a [routerLink]="['/signup']">&nbsp; &#10148;&nbsp;Sign up today!</a></p>
<br>

</div>
<!-- <div class='debug'>
Form Valid: {{ model.error }}
</div> -->