<div [formGroup]="form">
  <label [attr.for]="question.key" 
  *ngIf="question.controlType!='dropdown'">{{question.label}}</label>

  <div [ngSwitch]="question.controlType">

    <mat-form-field *ngSwitchCase="'textbox'">
    <input matInput  [formControlName]="question.key"
            [id]="question.key" [type]="question.type"></mat-form-field>

    <mat-select [id]="question.key" [placeholder]="question.label" 
    *ngSwitchCase="'dropdown'" [formControlName]="question.key">
      <mat-option *ngFor="let opt of question.options" 
      [value]="opt.key">{{opt.value}}</mat-option>
    </mat-select>

  </div> 

  <div class="errorMessage" >{{question.label}} is required</div>
</div>