<form #regform="ngForm" novalidate>

    <md-card class='bartness'>
        <h2>Register</h2>

        <md-form-field class="example-full-width">
        <input mdInput placeholder="First name" name="firstName" ngModel required>
        </md-form-field>
        <br>
        <md-form-field class="example-full-width">
        <input mdInput placeholder="Last name" name="lastName" ngModel required>
        </md-form-field>
        <br>
        <md-form-field class="example-full-width">
        <input mdInput placeholder="email" name="email" ngModel required type="email">
        </md-form-field>
        <br>

        <br>
        <button md-raised-button color="primary" class='rightAlignMe'>OK</button>
        <br clear='all'>

    </md-card>

</form>


<input [mdDatepicker]="myDatepicker" class='form-control'>
<md-datepicker-toggle [for]="myDatepicker"></md-datepicker-toggle>
<md-datepicker #myDatepicker></md-datepicker>



  <br><hr>
  {{ regform.pristine }}