.bioContainer {
    position: fixed;
    bottom:40px;
    left:0;
    z-index: 240;
    text-align:center;
    width:100%;
}

.bio {
    display:inline-block;
    width:500px;
    min-height:400px;
    box-shadow: 0 0 60px white;
    background-color:#111111;
    background-image:url('../../../assets/images/bluedottexture.gif');
    padding:10px;
    border-radius:6px;
    border:2px solid #29557e;
    margin-left:auto;
    margin-right:auto;
}

.popThumb {
    position: relative;
    width:50%;
    top: -80px;
    height:200px;
    display:inline-block;

    margin-left:25%;
    margin-right:25%;
}


.userBio {
    position:relative;
    top:-30px;
    display:inline-block;
    text-align:left;
    width:87%;
    font-size:.9em;
    line-height:1.7em;
    margin-left:6%;
    margin-right:6%;
    color:#cccccc;
    font-size:1em;
    line-height:2.4em;
}

.userBio h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size:1.8em;
    font-weight: 900;
    text-align:center;
    margin-top:8px;
    text-transform: uppercase;
}

.messageButton {
    background-color:rgb(40, 86, 129);

    cursor:pointer;
    user-select: none;
    box-sizing: border-box;
    box-shadow:0 0 8px rgba(0,0,0,.5);
    padding-left:14px;
    padding-right:14px;
    padding-top:10px;
    padding-bottom:8px;
    width:200px;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    text-align:center;
    font-weight:600;
    border-radius:4px;

}

.messageButton:hover {
    background-color:rgb(56, 111, 163);
}

.messageButton:active {
    background-color:rgb(69, 163, 250);
    color:white;
}

#nohover .circle img:hover {
    box-shadow:0 0 0 #000000;
}
