<div class='loomCard group'>
<div *ngIf='thisClass'>
<h1>{{ thisClass.title }}</h1>

<h2>Instructors for this class:</h2>
<div *ngFor='let instructor of instructors'>
        <user-thumb [user]=instructor [editable]=false [deletable]=false></user-thumb>
</div>
<br clear='all'>
<h2>Students in this class:</h2>
<div *ngFor='let student of students'>
        <user-thumb [user]=student [editable]=false [deletable]=false></user-thumb>
    </div>
<br clear='all'><br>
<div *ngIf='courseimageURL' class='mainImage'>
    <img [src]='courseimageURL' class='mainImageImage'>
</div>

<div>
    <!-- <a (click)="joinChat()">Class Chatroom</a> -->
    <button [routerLink]="['/chatroom', thisClass.id ]" class=''>Chatroom</button>
    <button [routerLink]="['/discussion', thisClass.id ]" class=''>Discussion</button>
    <!-- <a (click)="discuss()">Join the Discussion</a> -->
</div>

<div *ngIf='course'>
    <course [course]=course></course>
    <!--    
    <div *ngIf='course.sections'>
      
        <div *ngFor='let section of course.sections; let i = index;' class='group padMe'>
           <h2> {{ section.title }} </h2>
           <p> {{section.content }}</p>
           <div *ngFor= 'let material of materials[i]'>Material:
               {{material.title}}
           </div>
        </div>
    </div> -->
</div>



</div>
</div>