<div class='loomContainer' >

<div *ngIf='courseimageURL' class='mainImage group'
[ngStyle]="{ 'background-image': 'url(\' ' + courseimageURL + ' \')'}">

        <div class='topContent group'>
            <h2>AXIS MUNDI - BRANCH 1 / LIMB 3</h2>
            <h1>{{ thisClass.title }}</h1>
            <p>{{ course.description }}</p>
            <p class='dates'> {{ thisClass.start | date:'MMMM dd, yyyy' }} - {{ thisClass.end | date:'MMMM dd, yyyy' }}</p>
            <div class='instructors group'>
                    <h2>Your Instructors</h2>
                    <div *ngFor='let instructor of instructorThumbnails' class='userThumb'>
                        <user-thumb [thumbnail]='instructor'></user-thumb></div>
                </div>
        </div>
</div>




    <div *ngIf='thisClass' class='mainPage'>

        <div class='rollcall group'>

        <div class='students group'>
                <h1>Your Fellow Students</h1>
                <div *ngFor='let student of studentThumbnails' class='userThumb'>
                    <user-thumb [thumbnail]='student'></user-thumb></div>
        </div>
        </div>
        
        
        <!-- <button (click)="openDiscussion()" *ngIf="!discussing" 
        class='discussButton'>Discussion</button>   
         -->

        <div *ngIf='course'>

                <div class='classNavBar'>
                <div class='sectionNavTitle' (click)='showSectionMenu()'
                (clickOutside)='hideSectionMenu()' >Sections</div>
                <div id='sectionMenu' class='group' *ngIf='showingSectionMenu'>
                    <div class='menuLiner group'>
                <div class='sectionNav' *ngFor='let section of this.course.sections; 
                let s=index'>
                   <div (click)="navigateTo(s)" class='sectionNavItem'>
                       {{section.title}} </div></div>
                </div></div>

                
                <div class='nextSection' (click)='nextSection()' *ngIf="sectionNumber < (course.sections.length-1)"></div>
                <div class='nextSection hidden' *ngIf="sectionNumber >= (course.sections.length-1)"></div>

                <div class='prevSection' (click)='prevSection()' *ngIf="sectionNumber > 0"></div>
                <div class='prevSection hidden' *ngIf="sectionNumber < 1"></div>
                 </div>


                <div *ngIf='course.sections' class='section group'>
                    <section [course]=course [section]=section></section>
            </div>
        </div>
        <div class='discussionIconWrap'>
        <div class='discussionIcon' (click)="openDiscussion()"></div></div>
        <div class='discussionBox group' *ngIf='discussing'>
                <!-- <div class='grabber {{grabberStyle}}' (mousedown)="grab($event)" (mousemove)="trackGrab($event)"
                (mouseup)="endGrab($event)" (mouseout)="endGrab($event)" id='grabber' *ngIf="boardStyle!='fullSize'"></div> -->
                <div (click)='closeDiscussion()' class='roundButton closeButton'></div>

                <!-- <div (click)='makeStacked()' class='roundButton stackDownButton'
                 *ngIf="boardStyle!='fullSize'"></div> -->
                <!-- <div (click)='moveLeft()' class='roundButton leftButton' *ngIf="boardStyle!='leftSide'"></div>
                <div (click)='moveRight()' class='roundButton rightButton' *ngIf="boardStyle!='rightSide'"></div>
         -->
                <discussion [thisClass]="thisClass" [students]='students' [instructors]='instructors' [sectionNumber]='sectionNumber'></discussion>
        </div>  

    </div>





</div>

<!-- 

<div class='slideColumn {{boardStyle}} {{scrollable}} group flexcroll' *ngIf='discussing'
 [style.width.px]="boardWidth" [style.height.px] = "initialWindowHeight">

-->


