.mainImage {
    width:100%;
    padding:0;
    margin:0;
    margin-left:auto;
    margin-right:auto;
    max-width:1200px;
    height:10px;
    position: relative;
    top:-90px;
}

.mainImage img {
    width:100%;
    padding:0;
    margin:0;
}

.rollcall {
    background-color:rgba(255,255,255,.1);
    border-radius:8px;
    padding:8px;
}


.mainContent {
display:inline-block;
user-select: none;
padding:0;
margin:0;

}

.mainContent h1 {
    font-family: 'Josefin Sans';
    font-weight:300;
    font-size:2.75em;
    text-transform: uppercase;
    letter-spacing: -.05em;
    line-height: 1.2em;
    position: relative;
    padding:0;
    margin:0;
    padding-top:12px;
    box-sizing: border-box;
    margin-top:.6em;
    margin-bottom:.2em;
    color:#ffffff;
}

.mainContentInnerWrapper {
    padding:10px;
    margin:0;
    padding-bottom:300px;
    margin-left:auto;
    margin-right:auto;
}

.scrollable {
    overflow-y: auto;
  
}
#sectionMenu {
    background-color: rgba(255,255,255,1);
    width:270px;
    height:0px;
    position: relative;
    top:-8px;
    left:0px;
    z-index: 200;
    transition:all .5s;
}

.menuLiner {
   
    border:2px solid #555555;
    box-shadow: 4px 4px 4px rgba(0,0,0,.5);
}

.flexcroll {

}
.flexcroll::-webkit-scrollbar {
    width: 18px;
}

.flexcroll::-webkit-scrollbar-track {
    -webkit-border-radius: 8px;
    border-radius: 0px;
    background: #363636; 
    -webkit-box-shadow: inset 4px 4px 6px rgba(0,0,0,0.5); 
}
/* Handle */
.flexcroll::-webkit-scrollbar-thumb {
    -webkit-border-radius: 12px;
    background: #545a7a;
    border:2px solid #1b2035;
}

.flexcroll::-webkit-scrollbar-thumb:active {
    background: orange;
}
.divided {

}

.mainRight {
    float:right;
}
.mainLeft {
    float:left;
}
.mainFull {
    float:none;
}
    
.full {

}
    
.discussButton {
    /* -ms-transform: rotate(90deg); 
    -webkit-transform: rotate(90deg); 
    transform: rotate(90deg); */
    padding:20px;
    width:200px;
    height:100px;
    margin-bottom:10px;
    background-color:#4254ae;
    color:white;
    text-transform: uppercase;
    margin-right:10px;
    outline:none;
    cursor:pointer;
    box-shadow:8px -8px 8px rgba(0,0,0,.5);
}

.discussButton:active {
    background-color:red;
}

.largeFunButton {
    padding:20px;
    width:200px;
    height:100px;
    margin-top:10px;
    margin-bottom:10px;
    background-color:#4254ae;
    color:white;
    text-transform: uppercase;
    margin-right:10px;
    outline:none;
    cursor:pointer;
}

.largeFunButton:hover {
    background-color:#ff4081;
}

.classNavBar {
    background-color:rgba(0,0,0,.1);
    width:100%;
}

.nextSection {
    display:inline-block;
    float:right;
    width:60px;
    height:50px;
    background-image:url('../../../assets/images/right.svg');
    vertical-align: top;
    opacity:.6;
    margin-left:10px;
    margin-top:10px;
}

.nextSection:hover {
    opacity:1;
}

.prevSection {
    display:inline-block;
    float:right;
    width:60px;
    height:50px;
    background-image:url('../../../assets/images/left.svg');
    vertical-align: top;
    opacity:.6;
    margin-top:10px;
}
.prevSection:hover {
    opacity:1;
}


.hidden {
    opacity:.1;
}

.hidden:hover {
    opacity:.1;
}


.sectionNav {
    background-color: rgba(255,255,255,1);
    margin-bottom:0px;
    border-radius:0px;
    padding:4px;
    padding-top:14px;
    padding-left:14px;
    padding-bottom:8px;
    cursor:pointer;
    user-select:none;
    border-bottom:2px solid rgba(100,100,100,.25);
}

.sectionNav:hover {
    background-color:#dddddd;
    cursor: pointer;
}

.sectionNav:active {
    background-color:#999999;
}

.sectionNavTitle {
  background-color:#999999;
  text-transform: uppercase;
  color:white;
  padding-top:15px;
  padding-bottom:12px;
  padding-left:14px;
  margin-top:22px;
  border-radius:8px 8px 0 0;
  border-bottom:2px solid #333333;
  cursor:pointer;
  user-select:none;
  width:240px;
  display:inline-block;
}

.sectionNavTitle:hover {
    background-color:#666666;
}

#sectionMenu {
    z-index:200;
}

.section {
    background-color:rgba(255,255,255,.89);
    box-sizing: border-box;
}

.section h1 {
    padding-top:40px;
    font-size:2em !important;
    margin-top:40px !important;
    margin-bottom:20px !important;
    padding-bottom:40px;
    
}

.section p {
    margin-top:40px;
    margin-bottom:80px;
}

.instructors {
    display:inline-block;
    text-align: center;
    background-color:rgba(255,255,255,.1);
    padding:8px;
    border-radius:8px;
}
.instructors h2 {
    text-align: left;
    line-height: 0;
    padding:0;
    margin:0;
    font-size:1.3em;
    line-height:1.3em;
    margin-bottom:8px;
}
.students {
    background-color:rgba(255,255,255,.1);
    padding:8px;
    display:inline-block;
    text-align: center;
    border-radius:8px;
}

.students h2 {
    text-align: left;
    line-height: 0;
    padding:0;
    margin:0;
    font-size:1.3em;
    line-height:1.3em;
    margin-bottom:8px;
}

.userThumb {
    display:inline-block;
}

  

.slideColumn {
    display:inline-block;
    background-color:rgba(100,100,100,1);
}

.rightSide {
    width:30%;
    float:right;
}

.leftSide {
    width:300px;
    float:left;
}
.fullSize {
    width:100%;
    float:none;
}

.roundButton {
    background-position: 50% 50%;
    background-size:48%;
    background-repeat: no-repeat;
    width:45px;
    height:45px;
    display:inline-block;
    padding:4px;
    box-sizing: border-box;
    background-color:rgba(0,0,0,.1);
    border-radius:50%;
    opacity:.7;
    margin-top:14px;
    margin-left:8px;
    margin-bottom:14px;
}
.roundButton:hover {
    opacity:1;
    background-color:rgba(0,0,0,.3);
}

.leftButton {
    background-image:url('../../../assets/images/left.svg');
  
}

.rightButton {
    background-image:url('../../../assets/images/right.svg');
}

.stackDownButton {
    background-image:url('../../../assets/images/stack_down.svg');
}

.closeButton {
    background-image:url('../../../assets/images/close.svg');
    float:right;
    margin-right:4px;
}


.grabber {
    width:74px;
    height:32px;
    background-color:#777777;
    display:inline-block;
    vertical-align: top;
    border-radius:0px 0px 0px 8px;
    cursor:pointer;
    user-select: none;
    border-left: 2px solid #aaaaaa;
    border-top: 2px solid #aaaaaa;
    border-bottom:2px solid #333333;
    border-right:2px solid #333333;
    box-shadow: 4px 4px 4px rgba(0,0,0,.4);
    background-image:url('../../../assets/images/brail.svg');
    background-size:40px 20px;
    background-repeat: no-repeat;
    position:relative;
    top:-2px;
    left:-1px;
    background-position: 4px 4px;
}

.grabber:hover {
    background-color:#bbbbbb;
    
    
}

.grabber:active {
  background-color: #444444;
  position: relative;
  border:2px solid black;
  top:0px;
  left:1px;
}

.grabber:active {
    color:black;
}

.grabRight {
    float:right;
}

.grabLeft {
    float:left;
}

@media screen and (max-width: 768px) {
    

        .mainContent {

        }
    }  