.list-group {
  text-align: center;
  line-height: 1.5em;
}

.list-group img {
  max-width:200px;
}


h1 {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  font-size:1.3em;
  color:rgba(255,255,255,.6);
  text-align: center;
}

.classList {
  background-color:rgba(255,255,255,.0);
}