.classAd {
    border-bottom:2px solid #245977;
    padding:0px;
    text-align:left;
    padding-bottom:20px;
    padding-left:2%;
    padding-right:2%;
    padding-top:20px;
}

.classThumnailImage {
    width:37%;
    display:inline-block;
    float:left;
    margin-right:10px;
    border-radius:8px;
    margin-top:10px;
}


.classDate {
    font-weight: 900;
    font-size:.9em;
    color: #555555;
    text-transform: uppercase;
    margin-bottom:12px;
}

.classDescription {
    display:inline-block;
    width:55%;
    float:left;
    vertical-align: top;
    margin-left:20px;
}

h1 {
    font-family: 'Josefin Sans';
    font-size:2em;
    text-transform: uppercase;
    color:white;
    line-height:1.5em;
    font-weight: 500;
    text-shadow: 0 0 10px rgba(0,0,0,.6);
    margin-bottom:0;
    margin-top:0;
    padding-top:0;
    letter-spacing: -.04em;
}

h2 {
    font-family: 'Josefin Sans';
    text-transform:uppercase;
    font-size:1em;
    font-weight: 500;
    letter-spacing: .04em;
    color: rgba(255,255,255,.85);
}

p { margin-top:0;
  font-family: 'Muli', sans-serif;
  font-size:.9em;
  line-height:1.45em;
  color:#777777;
}

.instructorIcon {
    width:80px;
    height:80px;
    margin-right:10px;
    display:inline-block;
}

@media (max-width: 640px) {
.classThumnailImage {
    display:block;
    width:100%;
    margin:0;
    padding:0;
}

.classDescription {
    display:block;
    width:100%;
    float:none;
    vertical-align: top;
    margin:0px;
}


  }

