.classThumnailImage {
    margin-left:auto;
    margin-right:auto;
    border:3px solid black;
    width:100%;
    max-width:800px;
}

p {
    max-width:50%;
    margin-left:auto;
    margin-right:auto;
}

.classDate {
    font-weight: 900;
    font-size:1.2em;
    color: #3663a1;
    text-transform: uppercase;
}