
<div class='padMe classList'>
      <h1>Current &amp; Upcoming Classes on The Loom</h1>
  <div class="list-group" *ngIf="classes">
    <div class="list-group-item"
      *ngFor="let classObject of classes">
      <class-thumb [classObject]=classObject [showTeachers]=true [showRegButtons]='showRegButtons'></class-thumb>
      </div>
    </div>

    <!-- <button class="btn btn-warning" (click)="createNewCourse()">New</button> -->

<div class="notice" *ngIf="!classes">Currently having 
  trouble accessing the database for class info.</div>
</div>

