<div class='loomContainer'>
        <div class="loomCard">
            <div class="padMe">
  
            <h2>Reset your registered password</h2>
            
            <form novalidate [formGroup]="resetForm" class='resetForm'>
                     
                <mat-form-field>
                <input formControlName='email' matInput placeholder="email" name="email" 
                [(ngModel)]="model.email" required type="email" >
                </mat-form-field>

                <mat-form-field>
                        <input formControlName='password' matInput placeholder="your new password" name="password" 
                         type="password">
                        </mat-form-field>
        
            <mat-form-field>
                    <input formControlName='password_confirmation' matInput placeholder="please confirm your new password" 
                    name="password_confirmation" type="password">
                    </mat-form-field>

                    <div class='sendReset' 
                    (click)='sendReset()' *ngIf='resetForm.valid'>Reset My Password</div>
        
            
            </form>
        </div>
        </div>
        
