<div class='section'>
    <h1> {{ section.title }} </h1>
    <div [innerHTML]= 'section.content'></div>
</div>

    <div *ngIf='materials && materials.length > 0' class='section'>

        <div class='materials group' *ngIf='materialCollection'>
        <material-collection [materialcollection]="materialCollection"></material-collection>
    <!-- <div *ngFor= 'let material of materials'>
        <material [material]=material></material>
       
    </div> -->
</div>
    </div>
<br><br clear='all'>