.section {
    padding-left:8%;
    padding-right:8%;
    padding-top:40px;
    
}

h2 {
    font-size:1.2em;
    font-family: 'Josefin Sans';
    font-weight:400;
    text-transform: uppercase;
}

h1 {
    font-size:2.3em;
    font-family: 'Josefin Sans';
    font-weight:400;
    text-transform: uppercase;
    letter-spacing: -.05em;
}

p {
    font-family: 'Muli';
    font-weight:300;
    line-height: 2em;
}