

<div class='stuff'>
    <h1>Hello Admin:{{ username }} </h1>

    <!--  User List -->
<!-- <div class='loomCard group'>
  <div class='padMe'>
    <button *ngIf="users" [routerLink]="['/register']" 
    class='loomRoundButton loomAdd rightAlignMe'></button>  
    <h1>Users</h1>
    <ul class='loom-list' *ngIf="users">
      <li *ngFor='let user of users; let i = index'>

          <button [routerLink]="['/users', user.id, 'edit']" 
          class='loomRoundButton loomEdit'></button>
          <button class='loomRoundButton loomKill rightAlignMe' 
          (click)="deleteUser(user.id)"></button>
        <h2> {{user.firstname}} {{ user.lastname }}</h2>
        <p> {{ user.email }} </p> 
        
    </ul>
    <div class="notice" *ngIf="!users">
      Currently having trouble accessing the API for user info.</div>      
  </div>
</div> -->

<div class='loomCard group'>
  <div class='padMe'>  
    <button *ngIf="users" [routerLink]="['/register']" 
    class='loomRoundButton loomAdd rightAlignMe'></button> 
    <h1>Users</h1>
    <button *ngIf="!userChart" (click)='buildUserChart'>Get User Info</button>  
    <div *ngIf="userChart">
      <div *ngFor='let userObject of userChart; let u = index'>
          
        <div class='userInfoBox'><a [routerLink]="['/users', userObject.id, 'edit']">
        <img [src]="userObject.avatarURL" class='avatarThumb'></a>
       
        <button class='loomRoundButton loomKill rightAlignMe' 
        (click)="deleteUser(userObject.id)"></button>
        <h2> {{userObject.username}}</h2>
        <p> {{ userObject.firstname }}&nbsp;{{ userObject.lastname }}</p>
        <p> {{userObject.email}}</p>
      </div>
    </div>
  </div>
    
  </div>
</div>

<!-- Class Registrations -->
<!-- <div class='loomCard group'>
    <div class='padMe'> 
      <div *ngIf="classregistrations">
      <h1>Class Registrations</h1>
      <div *ngFor='let class of classregistrations'>
        <h2>{{ class.id }}</h2>
          <div *ngFor='let user of class.regs'>
            
             {{ user.username}}
          </div>
       
        </div>
      </div>
      <div *ngIf="!classregistrations">
        <button (click)="buildCRegChart()">view registrations</button>
      </div>
    </div>
  </div>
 -->


    <div class='loomCard group'>
      <div class='padMe'>
          <button *ngIf="classes" [routerLink]="['/classes', '0', 'edit']" class='loomRoundButton loomAdd rightAlignMe'></button>  
          <h1>Classes</h1>
            <ul class="loom-list" *ngIf="classes">
            <li *ngFor="let class of classes">
                <button [routerLink]="['/classes', class.id, 'edit']" class='loomRoundButton loomEdit'></button>
                <button class='loomRoundButton loomKill rightAlignMe' (click)="deleteClass(class.id)"></button>
              <h2>{{class.title}}</h2>
              <p>{{class.description}}</p>
              <p>{{class.course}}</p>
              <p>Start Date: {{class.start | date: 'yMMMd'}}</p> <!-- jms -->
              <p>End Date: {{class.end | date: 'yMMMd'}}</p>
           </li>
          </ul>
      
        <div class="notice" *ngIf="!classes">Currently having trouble accessing the API for class info.</div>
      </div>
    </div>

<!--  Course List -->
    <div class='loomCard group'>
      <div class='padMe'>
        <button *ngIf="courses" [routerLink]="['/courses', '0', 'edit']" class='loomRoundButton loomAdd rightAlignMe'></button>
          <h1>Courses</h1>
            <ul class="loom-list" *ngIf="courses">
            <li *ngFor="let course of courses">
                <button [routerLink]="['/courses', course.id, 'edit']" class='loomRoundButton loomEdit'></button>  
                <button class='loomRoundButton loomKill rightAlignMe' (click)="deleteCourse(course.id)"></button>
              <h2>{{course.title}}</h2>
              <p>{{course.description}}</p>
                 
            </li>
          </ul>
      <div class="notice" *ngIf="!courses">Currently having trouble accessing the API for course info.</div>
    </div>
</div>



<div class='loomCard group'>
  <div class='padMe'>
    <button [routerLink]="['/materials', '0', 'edit']" class='loomRoundButton loomAdd rightAlignMe'></button>  
    <h1>Materials</h1>
    <ul class='loom-list' *ngIf='materials'>
      <li *ngFor='let material of materials'>
          <button [routerLink]="['/materials', material.id, 'edit']" 
          class='loomRoundButton loomEdit'></button>  
          <button class='loomRoundButton loomKill rightAlignMe' 
          (click)="deleteMaterial(material.id)"></button>
          <h2>{{ material.title }}</h2>
          <p>{{ material.description }} </p>
      </li>
    </ul>
  </div>
</div>

<!--  Asset List -->
<!-- <div class='loomCard group'>
    <div class='padMe'>
      <button [routerLink]="['/assets', '0', 'edit']" class='loomRoundButton loomAdd rightAlignMe'></button>  
      <h1>Assets</h1>
      <ul class='loom-list' *ngIf="assets">
        <li *ngFor='let asset of assets'> 
            <button [routerLink]="['/assets', asset.id, 'edit']" class='loomRoundButton loomEdit'></button>
            <button class='loomRoundButton loomKill rightAlignMe' (click)="deleteAsset(asset.id)"></button>
          <h2> {{asset.firstname}} {{ asset.lastname }}</h2>
          <p> {{ asset.email }} </p> 
          
      </ul>
      <div class="notice" *ngIf="!users">Currently having trouble accessing the API for user info.</div>      
    </div>
</div> -->
<br>


</div>