.documentImage {
    width:198px;
    height:150px;
    background-color:black;
    border:1px solid black;
    background-size:130%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    user-select: none;
}


 h1 {
    font-family: 'Josefin Sans';
    text-transform: uppercase;
    font-size:1.2em;
    letter-spacing: -.05em;
}

 h2 {
    font-family: 'Josefin Sans';
    text-transform: uppercase;
    font-size:.9em;
    letter-spacing: -.05em;
    color:rgba(0,0,0,.3);
    margin-top:4px;
    margin-bottom:4px;
}
 p {
    font-family: 'Muli';
    font-size:.9em;
    line-height: 1.4em;
    width:90%;
    margin:auto;
    margin-top:10px;
    margin-bottom:10px;
}




 p.length {
    color:#888888;
    border-top:1px solid #555555;
    margin-top:30px;
    max-width:100px;
    text-align: center;
    margin-top:14px;
    padding-top:8px;
    
  }