

    <form [formGroup]="materialForm" novalidate
    (ngSubmit)="postMaterial()" class='loomForm group'>
             
    <div class='loomCard group'>
        <div class='closer'
        (click)="closer()" *ngIf='!modalVersion'></div>
    
 
    <h1>{{ type }}</h1>
    <mat-form-field>
            <input matInput placeholder="Title" name='title' id='title' formControlName='title'>
    </mat-form-field>

    <div *ngIf='descriptionNeeded'>
    <mat-form-field>
        <textarea matInput [placeholder]="descriptionPlaceholder" name="description"
        id='description' formControlName='description' matTextareaAutosize matAutosizeMinRows="2"
        matAutosizeMaxRows="5"></textarea>
        </mat-form-field></div>
   
        <div *ngIf='contentNeeded'>
        <mat-form-field>
                <textarea matInput [placeholder]="contentPlaceholder" name="content" 
                id='content' formControlName='content' matTextareaAutosize matAutosizeMinRows="2"
                matAutosizeMaxRows="5"></textarea>
                </mat-form-field></div>

    <mat-form-field *ngIf="type==='book' || type==='doc' || type==='quote' || type==='audio' || type==='video'">
        <input matInput placeholder="Author" name='author' id='author' formControlName='author'>
    </mat-form-field>

    <mat-form-field *ngIf="lengthNeeded">
        <input matInput placeholder="Length (minutes or # of pages)" name='length' id='length' formControlName='length'>
    </mat-form-field>

    <br clear='all'><br>
    <div *ngIf='type==="video" && this.file'>
            <video-component [videoObject]="this"></video-component>
    </div>
    <div *ngIf='uploaderNeeded'>
    <!-- <p class='instructions'>To post an asset, you can either just include a URL, or upload the file itself.
    </p> -->
    <!-- <div class='choice1'>
    <mat-form-field>
        <input matInput [placeholder]="urlLabel" name="contenturl" id='contenturl' formControlName='contenturl'>
        </mat-form-field>
    </div> -->
    <!-- <mat-select placeholder='Material Type' formControlName='type'>
        <mat-option *ngFor='let type of types' mdOption [value]='type' ng-selected="material.type"> {{ type }}</mat-option>
    </mat-select> -->
<!-- <div class='or'>OR</div> -->
<div class='choice2'>
    <div class="upload-wrap">
        Upload Document

        <input type="file" class="upload-btn"  name="file"  
        ng2FileSelect [uploader]="fileUploader" formControlName="fileUploader"
        (change)="fileChange($event)" id="file">

    </div>
    File:  {{ file }}<br><br>
</div></div>
<br clear='all'>
<div *ngIf='image'>
    <p>Showing an image</p>
<img [src]="imageUrl" width='200' height='200'><br>
</div>
<div class="upload-wrap" *ngIf="type!=='quote'">
    Include Thumbnail Image

    <input type="file" class="upload-btn"  name="image"  
    ng2FileSelect [uploader]="imageUploader" formControlName="imageUploader"
    (change)="imageChange($event)" id="image">

    <!-- <input type="file" class="upload-btn"  name="image"  
    ng2FileSelect formControlName="imageUploader"
    (change)="imageChange($event)" id="image"> -->
</div>




<div *ngIf='urlNeeded'>
    <mat-form-field>
        <input matInput [placeholder]="urlLabel" name="contenturl" id='contenturl' 
        formControlName='contenturl'>
        </mat-form-field>
</div>
</div>

<br clear='all'>
<br>
<div class='loomButton loomSubmit' 
(click)='postMaterial()'>Submit changes</div>
<!-- <div class='loomButton loomCancel' [routerLink]="['/coursebuilder']" type='reset' >Cancel</div> -->
<br clear='all'>

<br clear='all'>
<div class='loomButton dangerous' (click)="deleteMaterial()" *ngIf='!modalVersion'>
        <br><hr><br>
<mat-icon>delete</mat-icon><span class='raise'>
    Delete this {{ type }}</span></div>



</form>    
