

.materialEditor {
    padding:0px;
    background-color:#dddddd;
    border:1px solid black;
    box-sizing: border-box;
}

.associatedImage {
    width:120px;
    height:120px;
    display:inline-block;
    float:left;
    vertical-align: top;
    margin-right:20px;
}

.associatedImage img {
    width:100%;
}

.contentContainer {
    background-color:#dddddd;
    border-radius:9px;
    width:48%;
    float:left;
    display:inline-block;
    margin-right:10px;
    vertical-align: top;
    padding:24px;
    box-sizing: border-box;
    border:1px dashed #bbbbbb;
}




@media (max-width: 768px) {
    .contentContainer {
        display:block;
        width:90%;
        margin:0;
    }
    
  }
  