<nav-bar></nav-bar>   
<!-- <dummy></dummy> -->
<div class='loomContainer group'>
        <!-- <flash-messages></flash-messages> -->
    

    <div class='branding'>
        <h1> Welcome to the Reclaiming Loom {{ username }}</h1>
        <div class='loginButton' (click)="login()" 
        *ngIf="!currentUser || currentUser == null">Login</div>
    </div>


<!-- <div *ngFor='let instructor of instructorassignments'>
    <p> Instructor: {{ instructor.user.username }}, 
    {{ instructor.class_id }}</p>
</div> -->
           <!-- {{ instructorassignments | json }} -->
            <class-list [classes]='classes' [showRegButtons]='true'></class-list>


</div>
