
.videoBox {
    width:45%;
    display:inline-block;
    margin-right:2%;
    background-size:120%;
    margin-bottom:1em;
    overflow: hidden;
   margin-left:6%;
   transition:all 1s;
}

.theatreBox {
    width:100%;
    display:block;
    margin-bottom:14px;
    transition:all 1s;
}

.introImage {
    width:98%;
    min-height:300px;
    background-position: 50% 50%;
    background-color:#000000;
    background-repeat: no-repeat;
}

video {
    width:100%;
}

.videoWrap {
    width:100%;
    border-bottom:1px dashed #555555;
    padding:0px;
    margin-bottom:2em;
    padding-bottom:2em;
}

.videoDeets {
    padding:0px;
    display:inline-block;
    text-align: left;
    vertical-align: top;
    width:30%;
    border:1px solid rgba(0,0,0,0);
    margin-right:6%;
    margin-left:2%;
}

.theatreDeets {
    padding:20px;
    display:block;
    text-align: left;
    vertical-align: top;
    border:1px solid rgba(0,0,0,0);
    padding-left:6%;
    padding-right:6%;
}

 h1 {
    padding:0;
    margin:0;
    line-height: 1.07em;
    font-family: 'Josefin Sans';
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: -.05em;
}

h2 {
    font-family: 'Josefin Sans';
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: -.05em;
    margin-bottom:0;
    color:rgba(0,0,0,.4);
    font-size:1.1em;
    margin-top:4px;
    margin-bottom:14px;
}

 p {
    font-family: Muli;
    font-size:.9em;
    line-height: 1.6em;
    margin:0;
    padding:0;
}

.videoContainer {
  margin-bottom:2em;
  padding-bottom:2em;
}

video {
    width:104%;
    padding:0;
    margin:0;
    position:relative;
    left:-12px;
}

.videoFrame {
    padding:0;
    margin:0;
    background-color:black;
    overflow: hidden;
    border:1px solid black;
}

.videoFrame img {
    max-height:340px;
}


.theatreIcon {
    overflow: visible;
    z-index: 300;
    display:inline-block;
    float:right;
    position: relative;
    background-color:black;
    top:-51px;
    width:19.8%;
    user-select: none;
    cursor:pointer;
    color:white;
    background-image:url('../../../assets/images/expand.svg');
    background-size:30px 30px;
    background-position: 50% 50%;
    background-repeat:no-repeat;
    border:2px solid black;
    height:48px;
    border-top:1px solid black;
}

.controlWrapper {
    border:2px solid orange;
    width:100%;
}

.length {
    color:#888888;
    font-weight: bold;
    border-top:1px solid #555555;
    margin-top:30px;
    max-width:100px;
}
vg-fullscreen {
    width:140px;
}
vg-volume {
    padding-right:2%;
}

vg-controls {
    background-color:black;
    outline:none;
    width:80%;
    border-top:1px solid black;
}
vg-controls:focus {
    outline:none;
    padding-right:10px;
}


@media screen and (max-width: 840px) {
    .videoDeets { 
        display:block;
        width:84%;
        padding-left:6%;
        padding-right:6%;
    }
    h1 {
        text-align: center;
    }
    .videoBox {
        width:85%;
        min-width:400px;
    } 
    }  