<div *ngIf='!videoSource' class='oops'>Oops --The source file for this video is missing.</div>
<div class='videoContainer group' *ngIf='videoObject'>

        <div *ngIf='externalVideo'>
                <div [innerHtml]="iframe_html"></div>
        </div>
  <div [class]='videoBoxClass' *ngIf='!externalVideo'>

    <!-- <div class='introImage'
  [ngStyle]="{ 'background-image': backgroundImage}" (click)="playVideo(i)" *ngIf="!playing">
  <div class='centerPlay' *ngIf="!playing"></div></div> -->
  <!-- <div *ngIf='playing'> -->


<!--       
          <video controls autoplay='true'>
                  <source [src]="videoObject.contenturl" type="video/mp4">
                Your browser does not support the video tag.
                </video></div>
             -->


<vg-player class='videoFrame group' (onPlayerReady)="onPlayerReady($event)" *ngIf='videoSource'>
    <vg-overlay-play>

        <!-- <div class='introImage'
        [ngStyle]="{ 'background-image': backgroundImage}" (click)="playVideo(i)" *ngIf="!playing">
        </div> -->
    </vg-overlay-play>
    <!-- <vg-poster vg-url='controller.config.plugins.poster'></vg-poster> -->

    <vg-buffering></vg-buffering>

    <vg-controls *ngIf="!playing && started">
           
        <vg-play-pause></vg-play-pause>
        <!-- <vg-playback-button></vg-playback-button> -->

        <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

        <!-- <vg-scrub-bar style="pointer-events: none;"> -->
          <vg-scrub-bar [vgFor]='masterVideo' [vgSlider]='true'>

            <vg-scrub-bar-current-time [vgSlider]="true" vgFor="masterVideo"></vg-scrub-bar-current-time>
            <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time> 
        </vg-scrub-bar>

        <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
        <!-- <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display> -->

        <!-- <vg-track-selector></vg-track-selector> -->
        <vg-mute></vg-mute>
        <vg-volume></vg-volume>

        <!-- <vg-fullscreen></vg-fullscreen> -->  
    </vg-controls>
  
    <video [vgMedia]="master" #master id="masterVideo" [vgMaster]='true' preload="auto" crossOrigin="anonymous"
      [poster]='posterImage'>
    
         <source [src]='videoSource' type='video/mp4'>
      </video>

</vg-player>



<!-- </div> -->
<div class='theatreIcon' *ngIf='started && !playing' (click)='theatre()'></div>
</div>


<div [class]='videoDeetsClass'>
    <h1>{{videoObject.title}}</h1>
    <h2>{{videoObject.author}}</h2>
    <p>{{videoObject.description}}</p>
    <p class='length'>{{videoObject.length}}</p>
</div>
</div>
<!--   
<vg-player>
    <vg-overlay-play></vg-overlay-play>
    <vg-buffering></vg-buffering> -->

    <!-- <vg-scrub-bar>
        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
        <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
    </vg-scrub-bar> -->

    <!-- <vg-controls>
        <vg-play-pause></vg-play-pause>
        <vg-playback-button></vg-playback-button>

        <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

        <vg-scrub-bar style="pointer-events: none;">
            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
        </vg-scrub-bar>

        <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
        <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

        <vg-track-selector></vg-track-selector>
        <vg-mute></vg-mute>
        <vg-volume></vg-volume>

        <vg-fullscreen></vg-fullscreen>
    </vg-controls> -->

    <!-- <video [vgMedia]="media" #media id="singleVideo" preload="auto" crossorigin>
         <source src='http://localhost:3100/assets/video/seed_w_watermark.mp4' type='video/mp4'> -->
        <!-- <source src="http://static.videogular.com/assets/videos/videogular.mp4" type="video/mp4"> -->
        <!-- <source src="http://static.videogular.com/assets/videos/videogular.ogg" type="video/ogg">
        <source src="http://static.videogular.com/assets/videos/videogular.webm" type="video/webm"> -->

        <!-- <track kind="subtitles" label="English" src="http://static.videogular.com/assets/subs/pale-blue-dot.vtt" srclang="en" default>
        <track kind="subtitles" label="Español" src="http://static.videogular.com/assets/subs/pale-blue-dot-es.vtt" srclang="es"> -->
    <!-- </video>
</vg-player> -->