<div class='stuff'>

<form [formGroup]="classForm" novalidate (ngSubmit)="save()">
                                
<div class='loomCard group'>

<div class='padMe'>
<h1>Class Info:</h1>
<md-form-field>
<input mdInput  formControlName='title' placeholder="Title" 
name="title" required minlength="3" maxlength="50">
</md-form-field>


<md-form-field>
<input mdInput formControlName='description' placeholder="Description" 
name="description" required minlength="3" maxlength="250">
</md-form-field>

<md-select placeholder="Coursework for this class" name="course" formControlName='course'>
<md-option *ngFor="let course of courseSelections" [value]="course.value" ng-selected="course.value">
{{ course.viewValue }}
</md-option>
</md-select>
<br clear='all'>
<br> 

<div class='loomDate'>
<md-form-field>
<input mdInput [mdDatepicker]="startDate" placeholder="Start Date" name="start" formControlName="start">
<md-datepicker-toggle mdSuffix [for]="startDate"></md-datepicker-toggle>
<md-datepicker #startDate ></md-datepicker>
</md-form-field>
</div>

<div class='loomDate'>
<md-form-field>
<input mdInput [mdDatepicker]="endDate" placeholder="End Date" name="end" formControlName="end">
<md-datepicker-toggle mdSuffix [for]="endDate"></md-datepicker-toggle>
<md-datepicker #endDate ></md-datepicker>
</md-form-field>
</div> 
<br clear='all'>
<br><h1>Instructors</h1>
<div *ngIf='instructingUsers'>
<div formArrayName='instructors' *ngFor='let instructor of instructingUsers.controls; let j=index'>
        <div [formGroupName]="j" class='loomCheckBox'> 
            <md-checkbox formControlName="value" (click)="sortRegs()">{{instructor.value.username}}</md-checkbox>
        </div>
    </div>
</div><br>
<br><h1>Registered Students</h1>

<div formArrayName='regUsers' *ngFor='let user of regUsers.controls; let i=index'>
    <div [formGroupName]="i" class='loomCheckBox'> 
        <md-checkbox formControlName="value" (click)="sortRegs()">{{user.value.username}}</md-checkbox>
    </div>
</div>
</div>
<br clear='all'><br>
<button md-raised-button color="primary" class='loomButton'>Submit Changes</button>
</div>
</form> 
</div>
<div class='debug'>

</div>