

    <div class="loomContainer group">



<form novalidate (ngSubmit)="signupUser()" [formGroup]="regFormGroup" class='loomForm'>
    <div class='loomCard'>
            <div class="padMe">
        <h2 *ngIf='!admin'>Create a new account</h2><br>
        <h2 *ngIf='admin'>Edit User</h2>
        <flash-messages></flash-messages>
        <mat-form-field>
        <input matInput placeholder="First name" 
        name="firstname" formControlName='firstname' required maxlength="30">
        </mat-form-field><br>
        <mat-form-field>
        <input matInput placeholder="Last name" 
        name="lastname" formControlName='lastname' required minlength="3" maxlength="30">
        </mat-form-field>
        <br>
        <mat-form-field>
        <input matInput placeholder="email" name="email" 
       formControlName='email' required type="email" minlength="7" maxlength="40">
        </mat-form-field>
        <mat-form-field>
        <input matInput placeholder="witchy name" name="username" 
        formControlName='username' required type="username" minlength="3" maxlength="40">
        <mat-hint align="start">This will be the name that you login with</mat-hint>
 
        </mat-form-field>
        <br clear='all'><br>

        <mat-form-field *ngIf="!currentUser || !user.id">
        <input  matInput placeholder="password" 
        name="password" formControlName='password'>
        <mat-hint align="start">A combination of at least 8 lower and uppercase letters, at least 1 number, and 1 symbol</mat-hint>     
        </mat-form-field>

        <br clear='all'><br>
        <br><div *ngIf='admin'>
                <mat-checkbox formControlName='student'>
                        Student&nbsp;&nbsp;
                    </mat-checkbox>
            <mat-checkbox formControlName='instructor'>
                Instructor&nbsp;&nbsp;
            </mat-checkbox>
            <mat-checkbox formControlName='admin'>
                    Admin&nbsp;&nbsp;
                </mat-checkbox>
<br clear='all'><br>
    </div>

            <!-- <mat-checkbox [(ngModel)]='checkBox' name='checkBox'>Instructor</mat-checkbox>
         -->
        <!-- {{user.user_type | json}}<br>
        {{currentUser.user_type | json }}<br>
        {{currentUser.id}}, {{user.id}}<br>
        {{editSelf}} -->

        
    </div>


    <br>
    <div class='loomButton loomSubmit' 
    (click)='signupUser()'>Create Account</div>
   <div class='loomButton loomCancel' (click)="cancel()">Cancel</div>
<br clear='all'>

    </div>

</form>
<!-- <div *ngIf="alreadyConnectedThruFB">
    You are already registered and connected through FaceBook, as: {{ FBProfile.name }}
</div> -->
<!-- <div *ngIf="regChoice === 'facebook'">
    <h2>Facebook Registration:</h2>
    <button (click)="fblogout()">LogOut (of facebook)</button>

    <div *ngIf="!connectedThruFB">
            <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false"
            data-use-continue-as="false">
          Log in With Facebook
          </div>

    <button (click)="loginWithFacebook()">Login using my Facebook account</button>
    <p>You should see a pop-up window from Facebook, asking you to login.</p>
    <p>Note:  If you have Pop-up's blocked, you will need to 'allow' this pop-up.</p>
    </div>

    <div *ngIf="connectedThruFB">

    </div>
</div> -->

<div *ngIf="FBProfile">
    <!-- <p>You have chosen to register using your Facebook Profile.</p> -->
  <p>You are connected through Facebook as: {{ FBProfile.name }}</p>
  <!-- <form novalidate (ngSubmit)="registerFBUser()" [formGroup]="FBregFormGroup">


  </form> -->
</div>

<div *ngIf="FBUser">
    <p> {{ FBUser | json }}</p>
</div>
<div *ngIf="!regChoice">
<div class='already' (click)="already()">
If you've already signed up, you can <span class='just'>just Login!</span>
</div>
</div>
<!-- <div class='debug'>
    {{ regFormGroup.value | json }}

</div> -->