<div class='loomContainer group'>
        
    
        <form [formGroup]="bookForm" novalidate (ngSubmit)="postBook()" class='loomForm group'>
                                        
        <div class='loomCard group'>
                <div class='bigDelete'
                (click)="deleteBook(this.book.id)"></div>
  
        <h1>Book Reference:</h1>
        <mat-form-field>
        <input matInput placeholder="Title" name="title" id='title' formControlName='title'>
        </mat-form-field>
    
        <mat-form-field>
            <input matInput placeholder="Description" name="description" id='description' formControlName='description'>
            </mat-form-field>
        <mat-form-field>
                <input matInput placeholder="Author" name="author" id='author' formControlName='author'>
                </mat-form-field>
       
        <br>
        <br><img [src]="imageUrl" width='200' height='200' *ngIf='image'><br>
        
        <div class="upload-wrap">
            Include Image
            <input type="file" class="upload-btn"  name="image"  
            ng2FileSelect [uploader]="imageUploader" formControlName="imageUploader"
            (change)="imageChange($event)" id="image">
        </div>
    
        <br>
        <mat-form-field>
            <input matInput placeholder="URL where this book can be purchased" name="purchaseURL" id='purchaseURL' 
            formControlName='purchaseURL'>
            </mat-form-field>
    
        
    
    

 
    
    <div class='loomButton loomSubmit' 
    (click)='postBook()'>Submit changes</div>
   <div class='loomButton loomCancel' [routerLink]="['/coursebuilder']" type='reset' >Cancel</div>
<br clear='all'>
    </div>
    
    </form>    
    </div>
    