<div class='loomContainer group'>
    
<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>Courses</mat-panel-title>
    </mat-expansion-panel-header>

    <mat-list>
        <mat-list-item [routerLink]="['/courses', 0, 'edit']">
            <mat-icon class="example-icon">add</mat-icon> Add a new Course
        </mat-list-item>
        <mat-list-item *ngFor='let course of courses' [routerLink]="['/courses',course.id,'edit']">
            {{ course.title }}
        </mat-list-item>
    </mat-list>
</mat-expansion-panel>
<br>


<div *ngFor='let assetType of assets; let i = index;'>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>{{ assetLongPluralNames[i] }}</mat-panel-title>
        </mat-expansion-panel-header>

        <mat-list>
            <mat-list-item (click)="addAsset(i)">
                <mat-icon class='example-icon'>add</mat-icon>
                Add a new {{ assetLongSingularNames[i] }}
            </mat-list-item>
            <mat-list-item *ngFor='let item of data[assetType]' (click)="editAsset(i, item.id)">
                {{ item.title }}
            </mat-list-item>
        </mat-list>
    </mat-expansion-panel>
    
</div>
<!-- <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Book References</mat-panel-title>
        </mat-expansion-panel-header>
    
        <mat-list>
            <mat-list-item [routerLink]="['/books', 0, 'edit']">
                <mat-icon class="example-icon">add</mat-icon> Add a new Book Reference
            </mat-list-item>
            <mat-list-item *ngFor='let book of books' [routerLink]="['/books',book.id,'edit']">
                {{ book.title }}
            </mat-list-item>
        </mat-list>
    </mat-expansion-panel>
    
<mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>PDF Documents</mat-panel-title>
        </mat-expansion-panel-header>
    
        <mat-list>
            <mat-list-item [routerLink]="['/docs', 0, 'edit']">
                <mat-icon class="example-icon">add</mat-icon> Add a new PDF Document
            </mat-list-item>
            <mat-list-item *ngFor='let doc of docs' [routerLink]="['/docs',doc.id,'edit']">
                {{ doc.title }}
            </mat-list-item>
        </mat-list>
    </mat-expansion-panel>

    
    <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Videos</mat-panel-title>
            </mat-expansion-panel-header>
        
            <mat-list>
                <mat-list-item [routerLink]="['/videos', 0, 'edit']">
                    <mat-icon class="example-icon">add</mat-icon> Add a new Video
                </mat-list-item>
                <mat-list-item *ngFor='let video of videos' [routerLink]="['/videos',video.id,'edit']">
                    {{ video.title }}
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    
         -->





</div>
