<div class='loomContainer group'>
  

<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>Courses</mat-panel-title>
    </mat-expansion-panel-header>

    <mat-list>
        <mat-list-item [routerLink]="['/courses', 0, 'edit']">
            <mat-icon class="example-icon">add</mat-icon> Add a new Course
        </mat-list-item>
        <mat-list-item *ngFor='let course of courses' [routerLink]="['/courses',course.id,'edit']">
            {{ course.title }}
        </mat-list-item>
    </mat-list>
</mat-expansion-panel>
<br>


<div *ngFor='let assetType of types; let i = index;'>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title (click)='checkDataStream()'>{{ assetType.longName }}</mat-panel-title>
        </mat-expansion-panel-header>

        <mat-list>
            <mat-list-item (click)="addAsset(i)">
                <mat-icon class='example-icon'>add</mat-icon>
                Add a new {{ assetType.type }}
            </mat-list-item>
            <mat-list-item *ngFor='let item of data[assetType.type]' (click)="editAsset(i, item.id)">
                {{ item.title }}
            </mat-list-item>
        </mat-list>
    </mat-expansion-panel>
    
</div>



</div>
