

<form [formGroup]="classForm" novalidate (ngSubmit)="save()" class='loomForm group'>
                                
<div class='loomCard'>
        <div class='closer'
        (click)="closer()"></div>
        <h1>Class Info:</h1>
        <mat-form-field>
        <input matInput  formControlName='title' placeholder="Title" 
        name="title">
        </mat-form-field>

        <mat-form-field>

                <!-- <mat-select placeholder="Coursework for this class" name="course"
                formControlName='course' [(value)]="selected"> -->


        <mat-select placeholder="Coursework for this class" name="course"
          formControlName='course'>
            <mat-option>None</mat-option>
            <mat-option *ngFor="let course of courseSelections" [value]="course.value" ng-selected="course.value">
        {{ course.viewValue }}
        </mat-option>
        </mat-select>
        </mat-form-field>
        <br clear='all'>
        <br> 

        <div class='loomDate'>
        <mat-form-field>
        <input matInput [matDatepicker]="startDate" placeholder="Start Date" name="start" formControlName="start">
        <mat-datepicker-toggle mdSuffix [for]="startDate"></mat-datepicker-toggle>
        <mat-datepicker #startDate ></mat-datepicker>
        </mat-form-field>
        </div>

        <div class='loomDate'>
            <mat-form-field>
            <input matInput [matDatepicker]="endDate" placeholder="End Date" name="end" formControlName="end">
            <mat-datepicker-toggle mdSuffix [for]="endDate"></mat-datepicker-toggle>
            <mat-datepicker #endDate ></mat-datepicker>
            </mat-form-field>
        </div> 
        <br clear='all'><br>


        
        <h2>Cost Info:</h2>
        <mat-form-field>
        <input matInput  formControlName='cost' placeholder="Cost"  name="title">
        </mat-form-field>
        <br clear='all'><br>


        <mat-form-field>
                <textarea id="costBlurb" matInput placeholder="Say something about the cost and how to pay for this class" 
                formControlName="costBlurb" rows="5" class='costBlurb'></textarea>
                </mat-form-field>
            <br>
        <!-- <br><h1>Instructors</h1> -->

        <!-- These are the list of possible instructors -->
        <!-- <div formArrayName='instructor_choices' *ngFor='let instructor of instructor_choices.controls; let j = index'>
            <div [formGroupName]='j' class='loomCheckBox'>

                <mat-checkbox formControlName='value' id="{{'instructor'+j}}">{{instructor.value.username}}</mat-checkbox>

            </div>
        </div> -->

        <br clear='all'>
        <!-- <br><h1>Students</h1> -->
        <!-- These are the list of possible students -->
        <!-- <div formArrayName='student_choices' *ngFor='let student of student_choices.controls; let k = index'>
                <div [formGroupName]='k' class='loomCheckBox'>
            
                    <mat-checkbox formControlName='value' id="{{'student'+k}}">{{student.value.username}}</mat-checkbox>
            
                </div>
        </div> -->
        <br clear='all'>
        <br><hr><br>
        <div class='loomButton dangerous' (click)="remove()">
            <mat-icon>delete</mat-icon><span class='raise'>
                remove this class</span></div>
        
</div>

<div class='loomButton loomSubmit' (click)="save()">Submit Changes</div>
<!-- <div class='loomButton loomCancel' [routerLink]="['/admin']" type='reset' >Cancel</div>   -->

   

</form> 



<div class='debug'>
    {{ classForm.dirty }}<br>
    {{ classForm.valid }}<br>
 {{ classForm.value | json }}
</div>