.userList {
    text-align: left;
    list-style: none;
    line-height: .8em;
    padding-left:0;
}

.userList li {
    border-bottom:2px solid #9696CC;
    margin-bottom:10px;
}

.userList p {
    margin:0;padding:0;
}