
.userList {
    text-align: left;
    list-style: none;
    line-height: .8em;
}

.userList li {
    margin-bottom:10px;
}

.userList p {
    margin:0;padding:0;
}

.userLine {
    padding:0;
    overflow: hidden;
    border-bottom:2px solid #aaaaaa;
    width:100%;
    background-color:rgba(255,255,255,.5);
    user-select: none;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items:stretch;
    align-content: stretch;
}

.choice {
    display:inline-block;
    float:right;
}

.signupDate {
    color:black;
    float:left;
    vertical-align: top;
    font-family: 'Roboto';
    font-size:.95em;
    box-sizing:border-box;
    padding:0;
    margin:0;
    margin-top:10px;
    margin-bottom:10px;
    line-height:1.2em;
    width:150px;
    display:inline-block;
}

.suspend {
    background-image:url('../../../../assets/images/suspend.svg');
    background-size:30px 30px;
    background-position: 50% 30%;
    width:80px;
    height:40px;
    text-align:center;
    padding-top:50px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    text-transform:uppercase;
    font-size:.75em;
    font-weight:600;

    height:80px;
    user-select: none;
    cursor: pointer;
    color:#888888;
}

.suspend:hover {
    background-color:#dddddd;
}

.suspend:active {
    background-color:red;
}

.suspended {
    background-image:url('../../../../assets/images/suspended.svg');
    background-size:30px 30px;
    background-position: 50% 30%;
    width:80px;
    text-align:center;
    padding-top:50px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    text-transform:uppercase;
    font-size:.75em;

    height:80px;
    user-select: none;
    cursor: pointer;
    color:red;
}
.thumbnailAdmin {
    display:inline-flex;
    flex-grow:2;
    border:1px solid white;

}

.thumbnailAdmin:hover {
    background-color:white;
 
}

.thumbnailAdmin:active {
 
    outline:none;
}

.userInfo {
    color:black;
    float:left;
    vertical-align: top;
    font-family: 'Roboto';
    font-size:.95em;
    box-sizing:border-box;
    padding:0;
    margin:0;
    margin-top:10px;
    margin-bottom:10px;
    line-height:1.2em;
}

/* .userLine:hover {
    background-color:white;
} */

.listThumb {
    display:inline;
    float:left;
    width:60px;
    height:60px;
    margin-top:8px;
    margin-right:10px;
}

.userInfo h1 {
    margin:0;
    padding:0;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-weight: 900;
    font-size:.8em;
    
}
/* .suspender {
    background-color:white;
    color:black;
    width:80px;
    height:40px;
    vertical-align: middle;
    display:inline-block;
    float:right;
    margin:0;
    padding-top:20px;
    text-transform: uppercase;
    font-family: 'Muli';
    text-align:center;
    user-select: none;
    font-size:.9em;
    user-select: none;
    cursor: pointer;
}

.suspender:hover {
    background-color:rgb(50, 58, 92);
} */

.remover {
    background-color:rgba(116, 116, 116, .3);
    color:white;
    width:80px;
    height:40px;
    vertical-align: middle;
    display:inline-block;
    float:right;
    margin:0;
    padding-top:20px;
    text-transform: uppercase;
    font-family: 'Muli';
    text-align:center;
    user-select: none;
    font-size:.9em;
    user-select: none;
    cursor: pointer;
}

.remover:hover {
    background-color:rgb(194, 8, 2);
}

.sorter {
    background-color:rgba(0,0,0,.1);
    border-radius:3px;
    padding:2px;
    width:100%;
    text-transform:uppercase;
}

.sorter ul {
    display:inline;
    list-style:none;
}

.sorter ul li {
    display:inline;
    padding-left:10px;
    padding-right:10px;
    user-select: none;
    cursor: pointer;
    font-size:.85em;
    font-weight: 500;
}

.chosen {
    font-weight:700;
    color:blue;
}

.unchosen {
    font-weight:400;
    color:#555555;
}

.list {

    width:100%;
    padding:0;
}

.list tr {
    background-color:#ffffff;

}

.list td {
    padding:4px;
}

.username {
    margin:0;
    padding:0;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-weight: 900;
    font-size:.8em;
}

.list p {
    margin:0;
    padding:0;
    line-height:1em;
}

.list p.parameter {
    font-weight:400;
    color:#555555;
    user-select: none;
    cursor: pointer;
}

.list p.selected {
    color:black;
    font-weight: 600;
    user-select: none;
    cursor: pointer;
}


.clickableCell {
    outline:none;
}

.clickableCell:active {
    outline:none;
}

table {
    display:default;
}

.cleanTable {
    border:1px solid #888888;
}

.cleanRow {
   display:block;
   border-bottom:3px solid red;
}

.cleantTable td {
    border:1px solid #555555;
}

.instructor {
    background-image:url('../../../../assets/images/checked.svg');
    background-size:30px 30px;
    background-position: 50% 30%;
    width:80px;
    height:40px;
    text-align:center;
    padding-top:50px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    text-transform:uppercase;
    font-size:.75em;
    font-weight:600;
   
    height:80px;
    user-select: none;
    cursor: pointer;
}

.notinstructor {
    background-image:url('../../../../assets/images/checkbox.svg');
    background-size:30px 30px;
    background-position: 50% 30%;
    width:80px;
    height:40px;
    text-align:center;
    padding-top:50px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    text-transform:uppercase;
    font-size:.75em;
    font-weight:600;
    
    height:80px;
    user-select: none;
    cursor: pointer;
    color:#888888;
}

.fbReg {
    background-image:url(../../../../assets/images/fb_icon.png);
    width:30px;
    height:30px;
    padding-top:10px;
    box-sizing: border-box;
    background-size:30px 30px;
    margin-top:10px;
}