/* You can add global styles to this file, and also import other style files */

@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700');

body {
    margin: 0;
    font-family: Roboto;
    background-color: #515670;
    padding-bottom:300px;
    font-size:15px;
  }
  
  md-card {
    max-width: 80%;
    margin: 2em auto;
    text-align: center;
  }
  
  .mat-toolbar.mat-primary {
    background-color: #515670 !important;
  }
  md-toolbar-row {
    justify-content: space-between;
    box-sizing: border-box;
    

  }
  
  .done {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
  }

  a {
      text-decoration: none;
  }

  @keyframes slide1 {
    0% {
      opacity:0;
      margin-top:-20px;
    }
    30% {
      opacity:.3;
      margin-top:-4px;
    }
    60% {
      opacity:.7;
      margin-top:8px;
    }
    100% {
      opacity:1;
      margin-top:20px;
    }
  }

  .loomContainer {
    margin-left:auto;
    margin-right:auto;
    width:100%;
    max-width:1200px;
  }

  .loomCard {
      text-align: left;
      background-color:#cccccc;
      margin-left:auto;
      margin-right:auto;
      width:98%;
      max-width:1200px;
      padding:0px;
      margin-top:20px;
      animation-name:slide1;
      animation-duration:.5s;
      box-sizing: border-box;
  }

  .loomCard h1 {
    color:#3f51b5;
    border-bottom:1px solid #3f51b5;
    font-weight: 300;
    padding-bottom:0;
    box-sizing:border-box;
  }

  .loom-list {
    list-style: none;
    padding-left:0;
  }

  .loom-list li {
    border-bottom:1px solid #aaaaaa;
    background-color:#ffffff;
    padding-left:10px;
    border:1px dashed #cccccc;
    margin-bottom:4px;
    padding-bottom:14px;
  }

  .rightAlignMe {
      float: right;
      display:inline-block;
  }

  .mat-form-field{
    width:100% !important;
  }

  form {
    background-color:rgba(0,0,0,0);
  }
  .loomform {
    padding:20px;
  }


  .cropTool {
    border:4px dashed #ff4081;
    width:200px;
    height:200px;
    z-index:100;
    display:inline-block;
    overflow: hidden;
    text-align: center;
  }

  .cropTool img {

  }



  .mat-app-background {
    background-color:rgba(0,0,0,0) !important;
  }

  .debug {
    width:50%;
    margin-left:auto;
    margin-right:auto;
    min-width:400px;
    margin-top:50px;
    background-color:rgba(0,0,0,.5);
    color:white;
    padding:20px;
    border-radius:20px;
    font-weight: normal;
  }

  .cropTarget {
    max-width:200px;
    max-height:200px;
  }
  /* Alerts */

  .alert {
    padding:20px;
    padding:24px;
    margin-bottom:30px;
  }

  .alert-success
  {
    background-color:#8CE2A6;
    border:1px solid #3B9C58;
    color:#286E3C;
  }

  .alert-warning
  {
    background-color:#FCEEAA;
    border:1px solid #B48502;
    color:#B48502;
    padding:4px;
    padding-left:24px;
    margin-bottom:30px;
  }

  button {
    padding:10px;
    font-size:1.2em;
    border-radius:6px;
    border:0;
  }

  a {
    color:#61A6FF;
    cursor: pointer;
  }

  .stuff {
    text-align: center;
    /* width:80%;
    max-width:1200px;
    margin-left:auto;
    margin-right:auto; */
}

.loomButton {
  width:100%;
  border-radius:0;
  text-transform: uppercase;
  color:white !important;
  padding-top:16px !important;
  padding-bottom:16px !important;
  background-color:rgba(66,84,174) !important;
  box-shadow: 0px 0px 4px #666666 !important;

}
.loomButton:hover {
  background-color: #ff4081 !important;
}
.loomCancel {
  width:49.99999999%;
  border-radius:0;
  text-transform: uppercase;
  color:white !important;
  padding-top:20px;
  padding-bottom:20px;
  background-color:hsl(233, 50%, 34%) !important;
  box-shadow: 0px 0px 4px #666666 !important;
  display:inline-block;
}

.loomHalfButton {
  width:49.99999999%;
  border-radius:0;
  text-transform: uppercase;
  color:white !important;
  padding-top:20px;
  padding-bottom:20px;
  background-color:#ff4081 !important;
  box-shadow: 0px 0px 4px #666666 !important;
  display:inline-block;
}

.loomDate {
  width:220px;
  padding:10px;
  border:1px solid #cccccc;
  display:inline-block;
  float:left;
  margin-right:20px;
}

.loomDate label {
  font-weight: bold;

}

.loomDate .md-datepicker-toggle {
   margin-top:40px;
}

.md-checkbox label {
  margin-right:20px !important;
}

.sectionContainer {
  border:1px solid #999999; /* #3f51b5; */

  box-sizing: border-box;
  border-radius:4px;
  margin-bottom:20px;
}
.bannerTop {
  background-color:#eeeeee;
  padding:18px 18px 0px 18px;
  box-sizing: border-box;
}
.sectionSection {
  padding:18px;
}

.loomChoice {
  width:300px;
  border-top:1px solid #cccccc;
  border-right:1px solid #cccccc;
  margin-top:6px;
}

.loomSquareButton {
  background-color:#999999;
  background-size:80%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  box-shadow:0px 2px 2px #888888;
  border-radius:0;
}
.loomSquareButton:hover {
  background-color:#ff4081;
}
.loomRoundButton {
  border-radius:50%;
  background-color:#999999;
  background-size:80%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  box-shadow:0px 2px 2px #888888;
}

.loomRoundButton:hover {
  background-color:#ff4081;
}
.loomRoundButton:focus {
  outline:none;
}

.loomKill {
  width:30px;
  height:30px;
  background-image:url(assets/images/kill_hi.svg);
  background-color:#dddddd;
}

.simpleKill {
  width:26px;
  height:26px;
  background-image:url(assets/images/kill_hi.svg);
  background-color:#aaaaaa;
  position: relative;
  top:-4px;
  right:22px;
  margin:0;
}

.loomEdit {
  background-image: url(assets/images/edit.svg);
  width:44px;
  height:44px;
  display:inline-block;
  margin-right:20px;
  float:left;
  margin-top:10px;
  margin-bottom:20px;
}

.loomAdd {
  background-image: url(assets/images/add.svg);
  width:44px;
  height:44px;
}

.sectionLabel {
  padding-left:20px;
  font-size:.9em;
  color:#555555;
}

.nice-button {
  opacity:.2;
}

.upload-wrap {
  position: relative;
  background-color:#ff4081;
  overflow: hidden;
  padding:10px;
  width:140px;
  color:white;
  text-transform: uppercase;
  text-align: center;

}

.upload-btn {
  position: absolute;
  top:-20px;
  left: 0;
  width:200px;
  height:150px;

  padding-top:-20px;
}

md-select {
  width:250px;
  margin-top:10px;
  margin-bottom:10px;
}

.loomCheckBox  {
  padding:4px;
  padding-right:20px;
  display:inline-block;
  width:200px;
  float:left;
  margin-bottom:10px;

}

.padMe {
  padding:20px;
  box-sizing: border-box;
}


h2 {
  margin-bottom:6px;
}

.nobr	{ white-space:nowrap; }

.showTable {
  background-color:rgba(0,0,0,.1);
}
.showTable td {
  text-align: center;
}
/*  ClearFix  -----------------------------------------------------------
*/
/*  The ClearFix by Tony Aslett and Nicholas Gallagher */
.group:before,
.group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.group {
  zoom: 1;
}

/* Buttons --------
*/

.backButton {
  font-size:.9em;
  padding:16px;
  background-color:rgba(0,0,0,.2);
  border-radius:0 0 8px 0;
  cursor: pointer;
  outline:none;
}
.backButton:hover {
  background-color:#ff4081;
  color:white;
}

.backButton:active {
  background-color:#fa6b9d;
}

.basicButton {
  background-color:#4052ad !important;
  color:white;
  padding:12px;
  border-radius:8px;
  font-size:1em;
  outline:none;
  cursor: pointer;
}

.basicButton:hover {
  background-color: #ff4081 !important;
}

.notifications {
  left: calc(50% - 150px);
  position: absolute;
  top: 10%; }
  .notifications div {
    border: 1px solid;
    border-radius: 4px;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.22), 0 17px 20px 0 rgba(0, 0, 0, 0.12);
    cursor: pointer;
    margin-bottom: .5em;
    min-height: 3em;
    padding: 1em;
    text-align: center;
    width: 300px; }
    .notifications div.success {
      background-color: #dff2bf;
      border-color: #9fd840;
      color: #4a6a15; }
    .notifications div.error {
      background-color: #ffbaba;
      border-color: #ff8787;
      color: #870000; }
    .notifications div.warn {
      background-color: #feefb3;
      border-color: #fccf1c;
      color: #8c7102; }
    .notifications div.info {
      background-color: #bde5f8;
      border-color: #33afe9;
      color: #1175a5; }
