/* You can add global styles to this file, and also import other style files */

@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';


body {
    margin: 0;
    font-family: Roboto, sans-serif;
    background-color: #3f51b5;
  }
  
  md-card {
    max-width: 80%;
    margin: 2em auto;
    text-align: center;
  }
  
  md-toolbar-row {
    justify-content: space-between;
  }
  
  .done {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
  }

  a {
      text-decoration: none;
  }

  .loomCard {
      text-align: left;
      width:50%;
      min-width:400px;
      background-color:#ffffff;
      margin-left:auto;
      margin-right:auto;
      padding:20px;
      margin-top:20px;
  }

  .rightAlignMe {
      float: right;
      display:inline-block;
  }

  .mat-form-field{
    width:100% !important;
  }

  form {
    background-color:rgba(0,0,0,0);
  }


  .mat-app-background {
    background-color:rgba(0,0,0,0) !important;
  }

  .debug {
    width:50%;
    margin-left:auto;
    margin-right:auto;
    min-width:400px;
    margin-top:50px;
    background-color:rgba(0,0,0,.5);
    color:white;
    padding:20px;
    border-radius:20px;
    font-weight: normal;
  }

  /* Alerts */

  .alert-success
  {
    background-color:#8CE2A6;
    border:1px solid #3B9C58;
    padding:4px;
    padding-left:24px;
    color:#3B9C58;
    margin-bottom:30px;
  }

  .alert-warning
  {
    background-color:#FCEEAA;
    border:1px solid #B48502;
    color:#B48502;
    padding:4px;
    padding-left:24px;
    margin-bottom:30px;
  }

  button {
    padding:10px;
    font-size:1.2em;
    border-radius:6px;
    border:0;
  }

  a {
    color:#61A6FF;
    cursor: pointer;
  }

  .stuff {
    text-align: center;
}

