.blocker {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,.4);
    padding:10px;
}

iframe {
    position:fixed;
    top:90px;
    left:10px;
    width:94%;
    height:90%;
    background-color:white;
    border:2px solid black;
}