<div class='loomContainer'>
        <div class='loomCard padMe'>
                <div class='tabContainer'>
                <div [class]='takingLabel' (click)='taking()'>Classes you are taking</div>
                <div [class]='teachingLabel' (click)='teaching()'>Classes you are teaching</div></div>
        <br clear='all'>
        <div *ngIf='studentClasses && showTaking' class='listOfClasses'>
        <div *ngFor='let classobject of studentClasses; let j = index' >
        <div class='selectorBox group' (click)='goto(classobject.id)'>
                <div class='classInfoSelectionCollection group'>
                        <h1>{{ classobject.title }}</h1>
                <div class='classCourseImageThumnail'>         
                <!-- <img [src]="classobject.courseImageURL"> -->
                <course-image [courseID]='classobject.course'></course-image>
                </div>
                <div class='classInfo'>
                        <p class='classDates'>
                        {{ classobject.start | date:'MMMM dd, yyyy' }} 
                        -- {{ classobject.end | date:'MMMM dd, yyyy' }}</p>
                
                <p>{{ classobject.description }}</p>
                        </div>
        </div></div>
        </div></div>

        <div *ngIf='instructorClasses && showTeaching' class='listOfClasses'>

        <div *ngFor='let classobject of instructorClasses'>
                <div class='selectorBox group' (click)='goto(classobject.id)'>
                        <div class='classInfoSelectionCollection group'>
                                <h1>{{ classobject.title }}</h1>
                        <div class='classCourseImageThumnail'>
                        <course-image [courseID]='classobject.course'></course-image>
                        </div>
                        <div class='classInfo'>
                                <p class='classDates'>
                                {{ classobject.start | date:'MMMM dd, yyyy' }} 
                                -- {{ classobject.end | date:'MMMM dd, yyyy' }}</p>            
                        <p>{{ classobject.description }}</p>
                                        </div>
                </div></div>
                </div></div>
        </div>
</div>