

<nav-bar></nav-bar>   
<div class='loomContainer'>
        <div class='loomCard padMe'>
                <div class='tabContainer' *ngIf='showTabs'>
                <div [class]='takingLabel' (click)='taking()'>Classes you are taking</div>
                <div [class]='teachingLabel' (click)='teaching()'>Classes you are teaching</div></div>
        <br clear='all'>
        <div *ngIf='classesTaking && showTaking' class='listOfClasses'>
        <div *ngFor='let classobject of classesTaking; let j = index' >
        <div class='selectorBox group' (click)='goto(classobject.id)'>
                <div class='classInfoSelectionCollection group'>
                        <h1>{{ classobject.title }}</h1>
                <div class='classCourseImageThumnail'>         
                <!-- <img [src]="classobject.courseImageURL"> -->
                <course-image [courseID]='classobject.course'></course-image>
                </div>
                <div class='classInfo'>
                        <p class='classDates'>
                        {{ classobject.start | date:'MMMM dd, yyyy' }} 
                        -- {{ classobject.end | date:'MMMM dd, yyyy' }}</p>
                
                <p>{{ classobject.description }}</p>
                        </div>
        </div></div>
        </div></div>

        <div *ngIf='classesTeaching && showTeaching' class='listOfClasses'>

        <div *ngFor='let classobject of classesTeaching'>
                <div class='selectorBox group' (click)='goto(classobject.id)' *ngIf='classobject'>
                        <div class='classInfoSelectionCollection group'>
                                <h1>{{ classobject.title }}</h1>
                        <div class='classCourseImageThumnail'>
                        <course-image [courseID]='classobject.course'></course-image>
                        </div>
                        <div class='classInfo'>
                                <p class='classDates'>
                                {{ classobject.start | date:'MMMM dd, yyyy' }} 
                                -- {{ classobject.end | date:'MMMM dd, yyyy' }}</p>            
                        <p>{{ classobject.description }}</p>
                                        </div>
                </div></div>
                </div></div>
                <div *ngIf='!showTeaching && !showTaking'>
                        <p>It looks like you are not yet enrolled in any courses, or assigned to teach any courses yet.</p>
                </div>
        </div>


</div>