.selectorBox {
    background-color: rgba(0,0,0,.1);
    padding:20px;
    cursor:pointer;
    border-radius:8px;
}

.selectorBox:hover {
    border-bottom:1px solid black;
    border-right:1px solid black;
}

.classCourseImageThumnail {
    width:200px;
    height:100px;
    display:inline-block;
    float:left;
    margin-right:14px;
    margin-bottom: 20px;
}

.classInfoSelectionCollection {
    border:2px solid red;
    line-height:1.7em;
}